<template>
    <div class="container">
        <Toast position="top-center" group="tl" />
        <h1 class='title'>進料檢驗表</h1>
   
        <div class="input-page">
            <div style="width:95%;margin:0 auto">
                <div class="p-fluid grid formgrid" style="text-align:center;padding-top:2em">
                    <div class="field col-12 md:col-4">
                        <div  class="input-view">
                            <label class="text-label">登打人員:</label>
                            <Dropdown id="dropdown" style="margin-bottom:1em" :editable="true" v-model="iqcData.member" :options="memberData" optionLabel="show" optionValue="show" class="width"/>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div  class="input-view">
                            <label class="text-label">原料料號:</label>
                            <Dropdown id="dropdown" 
                                style="margin-bottom:1em"
                                v-model="iqcData.patNumber" 
                                :options="patNumberList"
                                optionLabel="id" optionValue="id"
                                 :editable="true"
                            />
                        </div>
                    </div>
                    <div class="field col-12 md:col-4" >
                        <div  class="input-view" style="margin-top: 1em;">
                            <label class="text-label">原料批號:</label>
                            <InputText type="text" style="width:200px" v-model="iqcData.lotNumber" />
                            <!-- <Dropdown id="dropdown"  
                                style="margin-bottom:1em"
                                v-model="iqcData.lotNumber"  :editable="true" 
                                :options="lotNumberList" optionLabel="id" optionValue="id"
                                 /> -->
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div class="input-view">
                            <label class="text-label">檢驗時間:</label>
                            <Calendar id="icon" v-model="iqcData.inpect_date" :showIcon="true" dateFormat="yy/mm/dd" style="width:200px"/>
                        </div>
                    </div>
                </div>
            </div>
             <div >
                 <h3 style="margin-left:2em;margin-top:1em;font-weight:bold">測試結果:</h3>
                
                <DataTable 
                    style="width:80%;margin:auto;margin-top:1.5em;text-align:center" 
                    :value="formData" editMode="cell" 
                    @cell-edit-complete="onCellEditComplete" 
                    class="editable-cells-table " responsiveLayout="scroll"
                     showGridlines 
                >
                    <Column v-for="col of columns" :field="col.field" :header="col.header" :key="col.field" style="text-align:center;width:10%;">
                        <template #editor="{ data, field }">
                            <InputText v-model="data[field]" autofocus style="width:70%" type="number"/>
                        </template>
                    </Column>
                </DataTable>
                <div style="text-align:center">
                    <Button label="新增一筆" class="p-button-raised" style="width:6rem;margin-top:2.5%;margin-bottom:2em" @click="submitPost"/>
                </div>
                <div >
                    <DataTable :value="finishData"  scrollHeight="450px" :scrollable="true" style="margin:auto;width:92%;">
                        <Column field="patNumber" header="原料料號"></Column>
                        <Column field="lotNumber" header="原料批號"></Column>
                        <Column field="p1" header="切割重量1"></Column>
                        <Column field="p2" header="切割重量2"></Column>
                        <Column field="p3" header="切割重量3"></Column>
                        <Column field="p4" header="切割重量4"></Column>
                        <Column field="p5" header="切割重量5"></Column>
                        <Column field="average" header="切割重量平均"></Column>
                        <Column field="member" header="人員"></Column>
                        <Column field="inpect_date" header="檢驗時間"></Column>
                        <Column header="刪除">
                            <template #body="slotProps">
                                <Button icon="pi pi-trash" class="p-button-rounded p-button-danger" @click="handleDelete(slotProps.data)" />
                            </template>
                        </Column>
                    </DataTable>
                </div>
                <div style="text-align:center">
                    <Button label="送出" class="p-button-raised" style="width:6rem;margin-top:2.5%;margin-bottom:2em" @click="SendData"/>
                </div>
            </div>
        </div >
        <h1 class='title' style="margin-top:2em">進料檢驗查詢</h1>
   
        <div class="input-page">
            <div style="width:95%;margin:0 auto">
                 <div class="p-fluid grid formgrid" style="text-align:center;padding-top:5em">
                    <div class="field col-12 md:col-4">
                        <div  class="input-view">
                            <label class="text-label">起始時間:</label>
                            <Calendar id="icon"  v-model="searchTimeRange.from" :showIcon="true" :showTime="true" dateFormat="yy/mm/dd"/>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div  class="input-view">
                            <label class="text-label">結束時間:</label>
                           <Calendar id="icon"  v-model="searchTimeRange.to" :showIcon="true" :showTime="true" dateFormat="yy/mm/dd"/>
                           
                        </div>
                    </div>
                    <div class="field col-12 md:col-4" >
                        <div style="text-align:center">
                            <Button label="送出" class="p-button-raised" style="width:6rem;" @click="handleSearch"/>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top:5em">
                <div>
                    <DataTable :value="tableData"  scrollHeight="450px" :scrollable="true" style="margin:auto;width:92%;">
                        <Column field="patNumber" header="原料料號"></Column>
                        <Column field="lotNumber" header="原料批號"></Column>
                        <Column field="p1" header="切割重量1"></Column>
                        <Column field="p2" header="切割重量2"></Column>
                        <Column field="p3" header="切割重量3"></Column>
                        <Column field="p4" header="切割重量4"></Column>
                        <Column field="p5" header="切割重量5"></Column>
                        <Column field="average" header="平均重量"></Column>
                        <Column field="member" header="人員"></Column>
                        <Column field="inpect_date" header="檢驗時間"></Column>
                        <Column field="date" header="記錄時間"></Column>
                    </DataTable>
                </div>
            </div>
        </div>
    </div>
    
</template>

<script>
import { ref, watch,toRefs, onBeforeMount, onMounted } from 'vue';
import {useStore} from 'vuex'
import IQCService  from "../api/iqcService";
import { useToast } from "primevue/usetoast";
import CodeService from "../asset/codeService";
import moment from "moment";
const initData = { uid: null, member: "", patNumber: "", lotNumber: "", p1: "", p2: "", p3: "", p4: "", p5: "", average: "",inpect_date:"" };

export default {
       
    setup(){
        const toast = useToast();
         onBeforeMount(()=>{
            store.dispatch('setPath', "iqc-page")
        });
        onMounted(async()=>{
            const state =JSON.parse(localStorage.getItem("fox_link_token"));
            const {apart} = state;
            try{
                 const service = Service.value;
                const {data:members} = await service.getMemberData(apart);
                memberData.value = members.map(ele=>{
                    return{
                        ...ele,
                        show:`${ele.name}(${ele.no})`
                    }
                });
            
                const {data:PatNumbers} = await service.getPatNumber();
                
                patNumberList.value = PatNumbers.map(ele=>{return{id:ele}});
                
                const {data:lotNumbers} = await service.getLotNumber();
                lotNumberList.value =lotNumbers.map(ele=>{return{id:ele}});
                return 
            }catch(err){
                console.log(err.message);
                // toast.add({severity: 'error', summary: 'Error Message', detail:`Something Error`, group: 'tl', life: 3000});
                return;
            };     
        });
        const store = useStore();
 
        const Service = ref(new IQCService());
        const iqcData =ref({...initData});
        const finishData=ref([]);
        const tableData =ref([]);
        const memberData =ref([]);
         
        const searchTimeRange =ref({from:"",to:""});
        const formData = ref([
            {unit:"重量(g)",p1:"",p2:"",p3:"",p4:"",p5:""}
            ]);
        const patNumberList =ref([]);
        const lotNumberList =ref([]);
        const columns = ref([
            {field: 'unit', header: '切割次數'},
            {field: 'p1', header: '1'},
            {field: 'p2', header: '2'},
            {field: 'p3', header: '3'},
            {field: 'p4', header: '4'},
            {field: 'p5', header: '5'},
        ]);

        const isInteger = (val) => {
            var str = val.trim();
            return parseFloat(str)
        };
        const submitPost=()=>{
            const data = formData.value;
            const data2 = iqcData.value;
            const { p1, p2, p3, p4, p5 } = data[0];
            if (!p1 || !p2 || !p3 || !p4 || !p5) {
                toast.add({
                    severity: 'warn',
                    summary: 'Warning Message',
                    detail: "請儲存切割次數。",
                    group: 'tl',
                    life: 3000
                });
                return;
            }
            const uid = Date.now();
            let m1 = p1?parseFloat(p1):0;
            let m2 = p2?parseFloat(p2):0;
            let m3 = p3?parseFloat(p3):0;
            let m4 = p4?parseFloat(p4):0;
            let m5 = p5?parseFloat(p5):0;
            const average = (m1+m2+m3+m4+m5)/5;
            const updatedData = {
                ...data2,
                inpect_date: moment(data2.inpect_date).format("YYYY/MM/DD"),
                uid:uid,
                p1:m1,p2:m2,p3:m3,p4:m4,p5:m5,
                average:average.toFixed(3),
            }; 

            for(let item of Object.keys(updatedData)){
                if(!updatedData[item].toString()){
                    toast.add({
                        severity: 'warn',
                         summary: 'Warn Message',
                          detail: `請填寫 ${CodeService[item]}`,
                           group: 'tl',
                            life: 3000
                            });
                    return;
                }   
            };
            iqcData.value = {...initData};
            finishData.value=[...finishData.value,updatedData];
            formData.value = [{unit:"重量(g)",p1:"",p2:"",p3:"",p4:"",p5:""}];
        };

        const onCellEditComplete=(event)=>{
            const { data, newValue, field } = event;
            
            switch (field) {
                case 'p1':
                case 'p2':
                case 'p3':
                case 'p4':
                case 'p5':
                    if (isInteger(newValue)){
                        data[field] = newValue;
                    }else
                        event.preventDefault();

                default:
                    break;
            }
        };
        const handleDelete=(prod)=>{
            const target = prod;
            finishData.value = finishData.value.filter(data=>data.uid!==target.uid);
        };


        async function handleSearch(){
            const { from, to } = searchTimeRange.value;
            if(!from||!to){
                return  toast.add({
                    severity: 'warn',
                     summary: 'Warn Message',
                      detail: `請填寫 ${CodeService[from?"to":"from"]}`,
                       group: 'tl', 
                       life: 3000
                    });
            };
            const timeData = {
                from:moment(from).format("YYYY/MM/DD HH:mm"),
                to:moment(to).format("YYYY/MM/DD HH:mm")
            };
            const service = Service.value;
            try{
                const data = await service.postSearch(timeData);
            
                if(!data.data){
                    toast.add({
                        severity: 'warn',
                         summary: 'Warn Message',
                          detail: "沒有結果",
                           group: 'tl',
                            life: 3000
                        });
                    return ;
                };
                tableData.value = data.data;
            }catch(err){
                toast.add({
                    severity: 'error',
                     summary: 'Error Message',
                      detail: err.message,
                       group: 'tl',
                        life: 3000
                    });
                return;
            }
            
        };

        async function SendData(){
            const service = Service.value;
            const body = { data: finishData.value };
            try{
                const { success, message } = await service.postData(body);
        
                if (!success) {
                    let msg = message.toString();
                    let check = msg.startsWith('23505');
                    if (check) {  
                        msg = "原料批號不可重複，請重新輸入";
                    };
                    throw new Error(msg);
                };
                toast.add({
                    severity: 'success',
                     summary: 'Success Message',
                      detail: message,
                       group: 'tl',
                        life: 3000
                    });
                    finishData.value= [];
                return;
            } catch (err) {
                toast.add({
                    severity: 'error',
                     summary: 'Error Message',
                      detail: err.message,
                       group: 'tl',
                        life: 3000
                    });
                return;
            }
        };

        return { 
            iqcData,memberData,patNumberList,lotNumberList,columns,formData,finishData,searchTimeRange,tableData,
            onCellEditComplete,isInteger,submitPost,handleDelete,handleSearch,SendData
         };
    },
}
</script>

<style lang="scss" scoped>

.title{
    font-size:2em;
    text-align: start;
    color:#008B8B;
    font-weight: bold;
}
.input-page{
    min-height:85vh;
    margin-top: 2.5em;
    margin-left: 1em;
    margin-bottom:1em;
    background-color:#A9A9A9;
}
.text-label{
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 0.5em;
}
.select{
    margin-top: 2.5em;
    text-align: end;
    padding-top:1em ;
}
#dropdown{
    width: 12em;
    margin-top:1em
}
.view-title{
     text-align: start;
     font-weight: bold;
     padding-left: 2em;
}
.data-point-input{
    height:40rem;
    padding:2px;
}
.view-table{
    margin: 0 auto;
    margin-top:5rem;
    width: 98%;
}
.button-area{
    text-align: center;
    padding-top:4em;   
}
.p-datatable-water{

}
.editable-cells-table{
    header{
        background-color:red ;
    }
}
.view-table{
    margin: 0 auto;
    margin-top:3rem;
    width: 85%;
}
.input-view{
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
   
}
</style>