<template>
    <div class="container">
        <h1 class='title'>機台加料記錄表</h1>
        <div class="input-page">
            <div style="margin:0 auto">
                 <div class="p-fluid grid formgrid" style="text-align:center;padding-top:2em">
                    <div class="field col-12 md:col-4">
                        <div  class="input-view">
                            <label class="text-label">登打人員:</label>
                            <Dropdown id="dropdown"  v-model="inputData.member" :options="memberData" optionLabel="show" optionValue="show" class="form-v" />
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                          <div  class="input-view">
                            <label class="text-label">成型機台:</label>
                            <Dropdown id="dropdown"  v-model="inputData.machine" :options="members" optionLabel="show" optionValue="show" class="form-v"/>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                          <div class="input-view">
                            <label class="text-label">產品料號:</label>
                            <Dropdown id="dropdown" v-model="inputData.productNumber" :options="members" optionLabel="show" optionValue="show" class="form-v"/>
                        </div>
                    </div>
                </div>
                <div class="p-fluid grid formgrid" style="text-align:center;">
                    <div class="field col-12 md:col-4">
                        <div  class="input-view">
                            <label class="text-label">原料料號:</label>
                            <Dropdown id="dropdown"  v-model="inputData.patNumber" :options="patNumberList" optionLabel="id" optionValue="id" class="form-v"/>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                          <div  class="input-view">
                            <label class="text-label">原料批號:</label>
                            <Dropdown id="dropdown"  v-model="inputData.lotNumber" :options="lotNumberList" optionLabel="id" optionValue="id" class="form-v"/>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                          <div class="input-view" style="margin-top:1em">
                            <label class="text-label">批號變更時間:</label>
                             <Calendar id="time24" v-model="inputData.batchChangeTime" :showTime="true"  :showIcon="true"  style="width:48.5%" dateFormat="yy/mm/dd"/>
                        </div>
                    </div>
                </div>
                 <div class="p-fluid grid formgrid" style="text-align:center;margin-top:1em">
                    <div class="field col-12 md:col-4">
                        <div  class="input-view">
                            <label class="text-label">換料次料比:</label>
                            <InputNumber id="integeronly" v-model="inputData.changeRatio"  style="width:46%" />
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                          <div class="input-view">
                            <label class="text-label">加料重量(kg):</label>
                            <InputNumber id="integeronly" v-model="inputData.weight"  style="width:46%" />
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                          <div class="input-view">
                            <label class="text-label">加料時間:</label>
                            <Calendar id="time24" v-model="inputData.feedTime" :showTime="true"  :showIcon="true"  style="width:48.5%" dateFormat="yy/mm/dd"/>
                        </div>
                    </div>
                </div>
            </div> 
            <div style="display:flex;justify-content:center;align-items: center;">
                <Button label="新增一筆記錄" class="p-button-raised p-button-info" style="width:10rem;margin-top:2.5%" @click="addRecord"/>
            </div>
            <div class="view-table">
                <div class="card" style="height:calc(50vh - 143px)">
                    <DataTable class="p-datatable-sm p-datatable-water" :value=" tableData" :scrollable="true" showGridlines scrollHeight="flex">
                        <Column field="machine" header="機台" ></Column>
                        <Column field="productNumber" header="產品料號"></Column>
                        <Column field="patNumber" header="原料料號" ></Column>
                        <Column field="lotNumber" header="原料批號"></Column>
                        <Column field="batchChangeTime" header="批號變更時間"></Column>
                        <Column field="changeRatio" header="次料比(%)"></Column>
                        <Column field="weight" header="加料重量(kg)"></Column>
                        <Column field="feedTime" header="加料時間"></Column>
                        <Column field="member" header="人員"></Column>
                        <Column field="recordTime" header="記錄時間"></Column>
                        <Column header="刪除"> 
                            <template #body="slotProps">
                                <Button icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-sm" @click="handleDelete(slotProps.data)" />
                            </template>
                        </Column>
                    </DataTable>
                </div>
            </div>
            <div style="display:flex;justify-content:center;align-items: center;">
                 <Button label="送出" class="p-button-raised" style="width:6rem;margin-top:2.5%;margin-bottom:2.5%" @click="submitPost"/>
            </div>
        </div>
         <h1 class='title' style="margin-top:2em">機台加料記錄查詢</h1>
   
        <div class="input-page">
            <div style="width:95%;margin:0 auto">
                 <div class="p-fluid grid formgrid" style="text-align:center;padding-top:2em">
                    <div class="field col-12 md:col-4">
                          <div  class="input-view">
                            <label class="text-label">成型機台:</label>
                            <Dropdown id="dropdown"  v-model="inputData.machine" :options="members" optionLabel="show" optionValue="show" class="form-v"/>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                          <div class="input-view">
                            <label class="text-label">產品料號:</label>
                            <Dropdown id="dropdown" v-model="inputData.productNumber" :options="members" optionLabel="show" optionValue="show" class="form-v"/>
                        </div>
                    </div>
                </div>
                 <div class="p-fluid grid formgrid" style="text-align:center;padding-top:1em">
                    <div class="field col-12 md:col-4">
                        <div  class="input-view">
                            <label class="text-label">起始時間:</label>
                            <Calendar id="icon"  v-model="searchTimeRange.from" :showIcon="true" :showTime="true" dateFormat="yy/mm/dd" style="width:50%"/>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div  class="input-view">
                            <label class="text-label">結束時間:</label>
                           <Calendar id="icon"  v-model="searchTimeRange.to" :showIcon="true" :showTime="true" dateFormat="yy/mm/dd" style="width:50%"/>
                           
                        </div>
                    </div>
                    <div class="field col-12 md:col-4" >
                        <div style="text-align:center">
                            <Button label="查詢" class="p-button-raised" style="width:6rem;" @click="sendTimeSearch"/>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top:3em">
                <div style="width:95%;margin:auto">
                    <DataTable class="p-datatable-sm p-datatable-water" :value="searchTable" :scrollable="true" showGridlines scrollHeight="flex">
                        <Column field="machine" header="機台" ></Column>
                        <Column field="productNumber" header="產品料號"></Column>
                        <Column field="patNumber" header="原料料號" ></Column>
                        <Column field="lotNumber" header="原料批號"></Column>
                        <Column field="batchChangeTime" header="批號變更時間"></Column>
                        <Column field="changeRatio" header="次料比(%)"></Column>
                        <Column field="weight" header="加料重量(kg)"></Column>
                        <Column field="feedTime" header="加料時間"></Column>
                        <Column field="member" header="人員"></Column>
                        <Column field="recordTime" header="記錄時間"></Column>
                     
                    </DataTable>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { ref, onMounted,watch,onBeforeMount } from 'vue';

import {useStore} from 'vuex'

import moment from "moment";
export default {
    setup() {
        onBeforeMount(()=>{
            store.dispatch('setPath', "feed-record")
        });
        const store = useStore();
        const initInputData = {
            uid:null,member:"",machine:"",productNumber:"",patNumber:"",lotNumber:"",batchChangeTime:"",changeRatio:"",weight:"",feedTime:"",recordTime:""
            };
        const inputData =ref({...initInputData});
        const tableData =ref([]);
        const searchTimeRange =ref({from:"",to:""});
        const searchTable =ref([]);
        const memberData =ref([
            {name:"王小陳",id:123456},
            {name:"王小美",id:123454},
            {name:"王小奇",id:123453},
            {name:"王小新",id:123452},
        ].map(ele=>{
            return{
                ...ele,
                show:`${ele.name}(${ele.id})`
            }
        }));
        const patNumberList =ref([
            {id:'0974-002H-5080'},
            {id:"0974-002H-5080"},
            {id:"5ZAZ-000V-9AZ0"}
        ]);
        const lotNumberList =ref([
            {id:"63677802"},
            {id:"63677812"},
            {id:"63677963"}
        ]);
        const formatTime =(timeString)=>moment(timeString).format("YYYY/MM/DD HH:mm");
       
        const addRecord=()=>{
            let uid = Date.now();
            const data = inputData.value;
            const updated = {
                ...data,
                uid:uid,
                batchChangeTime:formatTime(data.batchChangeTime),
                feedTime:formatTime(data.feedTime),
                recordTime:formatTime(uid)
            };
            inputData.value = {...initInputData};
            tableData.value = [...tableData.value,updated];
        };
        const handleDelete=(prod)=>{
            const target = prod;
            tableData.value = tableData.value.filter(data=>data.uid!==target.uid);
        };


        return {
            memberData, patNumberList, lotNumberList,inputData, tableData,searchTimeRange,searchTable,addRecord,handleDelete
        }
    }
}
</script>

<style lang="scss" scoped>
.container{
    color: #555555;
    margin:0 auto;
    width: 100%;
    height: 100%;
    margin-bottom: 2em;
}
.title{
    font-size:2em;
    text-align: start;
    color:#008B8B;
    font-weight: bold;
}
.input-page{
    min-height:80vh;
    margin-top: 2.5em;
    margin-left: 1em;
    background-color:#A9A9A9;
}
.text-label{
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 0.5em;
}
.select{
    text-align:right;
    padding-top:1em ;
}
#dropdown{
    width: 12em;
    margin-top:1em
}
.view-title{
     text-align: start;
     font-weight: bold;
     padding-left: 2em;
}
.data-point-input{
    height:40rem;
    padding:2px;
}
.view-table{
    margin: 0 auto;
    margin-top:3rem;
    width: 85%;
}
.button-area{
    padding-left:87%;
    padding-top:4em;   
}
.input-view{
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.form-v{
    margin-bottom:1em
}
</style>