<template>
    <div class="container">
        <Toast position="top-center" group="tl" />
        <h1 class='title'>機台加料-更換批號記錄表</h1>
        <div class="input-page">
             <div style="margin:0 auto">
             <div class="p-fluid grid formgrid" style="text-align:center;padding-top:2em">
                    <div class="field col-12 md:col-4">
                        <div  class="input-view">
                            <label class="text-label">登打人員:</label>
                            <Dropdown id="dropdown"  v-model="inputData.member" :options="memberData" optionLabel="show" optionValue="show" class="form-v" />
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div  class="input-view">
                            <label class="text-label">成型機台:</label>
                            <Dropdown id="dropdown"  v-model="inputData.machine" :options="machineList" optionLabel="id" optionValue="id" class="form-v"/>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div class="input-view">
                            <label class="text-label">產品料號:</label>
                            <Dropdown id="dropdown" :editable="true" v-model="inputData.productNumber" :options="productList" optionLabel="id" optionValue="id" class="form-v"/>
                        </div>
                    </div>
                </div>
                <div class="p-fluid grid formgrid" style="text-align:center;">
                    <div class="field col-12 md:col-4">
                        <div  class="input-view">
                            <label class="text-label">原料料號:</label>
                            <Dropdown id="dropdown"  v-model="inputData.patNumber" :options="patNumberList" optionLabel="id" optionValue="id" class="form-v"/>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                          <div  class="input-view">
                            <label class="text-label">原料批號:</label>
                            <Dropdown id="dropdown"  v-model="inputData.lotNumber" :options="lotNumberList" optionLabel="id" optionValue="id" class="form-v"/>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                          <div class="input-view" style="margin-top:1em">
                            <label class="text-label">批號變更時間:</label>
                             <Calendar id="time24" v-model="inputData.lotChangeTime" :showTime="true"  :showIcon="true"  style="width:48.5%" dateFormat="yy/mm/dd"/>
                        </div>
                    </div>
                </div>
                 <div style="display:flex;justify-content:center;align-items: center;">
                    <Button label="新增一筆記錄" class="p-button-raised p-button-info" style="width:10rem;margin-top:2.5%" @click="addRecord"/>
                </div>
                <div class="view-table">
                    <div class="card" style="height:calc(50vh - 143px)">
                        <DataTable class="p-datatable-sm p-datatable-water" :value="tableData" :scrollable="true" showGridlines scrollHeight="flex">
                            <Column field="machine" header="機台" ></Column>
                            <Column field="productNumber" header="產品料號"></Column>
                            <Column field="patNumber" header="原料料號" ></Column>
                            <Column field="lotNumber" header="原料批號"></Column>
                            <Column field="lotChangeTime" header="批號變更時間"></Column>
                            <Column field="member" header="人員"></Column>
                            <Column field="recordTime" header="記錄時間"></Column>
                            <Column header="刪除"> 
                                <template #body="slotProps">
                                    <Button icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-sm" @click="handleDelete(slotProps.data)" />
                                </template>
                            </Column>
                        </DataTable>
                    </div>
                </div>
                <div style="display:flex;justify-content:center;align-items: center;">
                    <Button label="送出" class="p-button-raised" style="width:6rem;margin-top:2.5%;margin-bottom:2.5%" @click="submitPost"/>
                </div>
             </div>
        </div>
        <h1 class='title' style="margin-top:2em">機台加料-更換批號記錄查詢</h1>
   
        <div class="input-page">
            <div style="width:95%;margin:0 auto">
                 <div class="p-fluid grid formgrid" style="text-align:center;padding-top:2em">
                    <div class="field col-12 md:col-4">
                          <div  class="input-view">
                            <label class="text-label">成型機台:</label>
                           <Dropdown id="dropdown"  v-model="searchState.machine" :options="machineList" optionLabel="id" optionValue="id" class="form-v"/>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                          <div class="input-view">
                            <label class="text-label">產品料號:</label>
                            <Dropdown id="dropdown" v-model="searchState.productNumber" :options="productList" optionLabel="id" optionValue="id" class="form-v"/>
                        </div>
                    </div>
                </div>
                 <div class="p-fluid grid formgrid" style="text-align:center;padding-top:1em">
                    <div class="field col-12 md:col-4">
                        <div  class="input-view">
                            <label class="text-label">起始時間:</label>
                            <Calendar id="icon"  v-model="searchState.from" :showIcon="true" :showTime="true" dateFormat="yy/mm/dd" style="width:50%"/>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div  class="input-view">
                            <label class="text-label">結束時間:</label>
                           <Calendar id="icon"  v-model="searchState.to" :showIcon="true" :showTime="true" dateFormat="yy/mm/dd" style="width:50%"/>
                           
                        </div>
                    </div>
                    <div class="field col-12 md:col-4" >
                        <div style="text-align:center">
                            <Button label="查詢" class="p-button-raised" style="width:6rem;" @click="handleSearch"/>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top:3em">
                <div style="width:95%;margin:auto">
                    <DataTable class="p-datatable-sm p-datatable-water" :value="searchTableData" :scrollable="true" showGridlines scrollHeight="flex">
                        <Column field="machine" header="機台" ></Column>
                        <Column field="productNumber" header="產品料號"></Column>
                        <Column field="patNumber" header="原料料號" ></Column>
                        <Column field="lotNumber" header="原料批號"></Column>
                        <Column field="batchChangeTime" header="批號變更時間"></Column>
                        <Column field="member" header="人員"></Column>
                        <Column field="recordTime" header="記錄時間"></Column>
                    </DataTable>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { ref, onMounted,watch,onBeforeMount, reactive, toRefs } from 'vue';
import {useStore} from 'vuex'
import moment from "moment";
import { useToast } from "primevue/usetoast";
import CodeService from "../asset/codeService";
import FeedService from "../api/feedService";

const initInputData = {
    uid:null,member:"",machine:"",productNumber:"",patNumber:"",lotNumber:"",lotChangeTime:"",recordTime:""
};
const member = [ {name:"王小陳",id:123456},{name:"王小美",id:123454},{name:"王小奇",id:123453},{name:"王小新",id:123452}];
const initSearchData = {machine:"",productNumber:"",from:"",to:""};

export default {
    setup () {
        onBeforeMount(()=>{
            store.dispatch('setPath', "feed-record");
        });
        onMounted(async()=>{
            const state =JSON.parse(localStorage.getItem("fox_link_token"));
            const {apart} = state;
            try{
                //取得人員
                const{ data:members }= await service.value.getMemberData(apart);
                AsyncState.memberData = members.map(ele=>{
                    return{
                        ...ele,
                        show:`${ele.name}(${ele.id})`
                    }
                });
                //取得成型機台
                const {data:machines} = await service.value.getMachine();
                AsyncState.machineList = machines.map(ele=>{return{id:ele}});
                //取得產品料號
                const {data:products}  =await service.value.getProductNumber();
               
                AsyncState.productList = products.map(ele=>{return{id:ele}});
                 console.log(AsyncState.productList)
                //取得原料料號
                const {data:PatNumbers} = await service.value.getPatNumber();
                AsyncState.patNumberList = PatNumbers.map(ele=>{return{id:ele}});
                //取得原料批號
                const {data:lotNumbers} = await service.value.getLotNumber();
                AsyncState.lotNumberList =lotNumbers.map(ele=>{return{id:ele}});

            }catch(err){
                console.log(err.message)
            }
           
        });
        const service= ref(new FeedService());
        const toast = useToast();
        const AsyncState = reactive({
            memberData:[],
            machineList:[],
            patNumberList:[],
            lotNumberList :[],
            productList:[]
        });
        const store = useStore();
        const state = reactive({
            inputData:{...initInputData},
            searchState:{...initSearchData},
            tableData:[],
            searchTableData:[]
        });

        const machineList =ref([]);
        const formatTime =(timeString)=>moment(timeString).format("YYYY/MM/DD HH:mm");
       
        const addRecord=()=>{
            let uid = Date.now();
            const data = state.inputData;
            const updatedData = {
                ...data,
                uid:uid,
                lotChangeTime:formatTime(data.lotChangeTime),
                recordTime:formatTime(uid)
            };

            for(let item of Object.keys(updatedData)){
                if(!updatedData[item].toString()){
                    toast.add({severity: 'warn', summary: 'Warn Message', detail: `請填寫 ${CodeService[item]}`, group: 'tl', life: 3000});
                    return;
                }   
            };
      
            state.inputData = {...initInputData};
            state.tableData = [...state.tableData,updatedData];
        };
        const handleDelete=(prod)=>{
            const target = prod;
            state.tableData = state.tableData.filter(data=>data.uid!==target.uid);
        };
        async function handleSearch(){
            const {machine,productNumber, from, to } = state.searchState;
            if(!machine||!productNumber){
                return  toast.add({
                    severity: 'warn', summary: 'Warn Message', detail: `請填寫 ${CodeService[machine?"productNumber":"machine"]}`, group: 'tl', life: 3000
                    });
            }
            if(!from||!to){
                return  toast.add({
                    severity: 'warn', summary: 'Warn Message', detail: `請填寫 ${CodeService[from?"to":"from"]}`, group: 'tl', life: 3000
                    });
            };
            const timeData = {
                from:moment(from).format("YYYY/MM/DD HH:mm"),
                to:moment(to).format("YYYY/MM/DD HH:mm")
            };
             let body = {machine,productNumber, ...timeData};
              try{
                const {data} = await service.value.postSearchReplaceData(body);

                if(!data){
                    toast.add({severity: 'warn', summary: 'Warn Message', detail: "沒有結果", group: 'tl', life: 3000});
                    return; 
                };
  
                state.searchTableData=data;
            }catch(err){
                 toast.add({severity: 'error', summary: 'Error Message', detail: err.message, group: 'tl', life: 3000});
                return;
            }
        };

        async function submitPost (){
            try{
                let body ={data:state.tableData};
                
                const {success,message} = await service.value.postReplaceData(body);
                if(!success){
                    throw new Error(message);
                };
                
                toast.add({
                    severity: 'success',
                    summary: 'Success Message',
                    detail: message,
                    group: 'tl',
                    life: 3000
                });
                state.tableData = [];
                return; 
            }catch(err){
                toast.add({
                        severity: 'error', summary: 'Error Message', detail: err.message, group: 'tl', life: 3000
                    });
            };
        };

        return {
            ...toRefs(state),...toRefs(AsyncState),
             addRecord,handleDelete,handleSearch,submitPost
        }
    }
}
</script>

<style lang="scss" scoped>
.container{
    color: #555555;
    margin:0 auto;
    width: 100%;
    height: 100%;
    margin-bottom: 2em;
}
.title{
    font-size:2em;
    text-align: start;
    color:#008B8B;
    font-weight: bold;
}
.input-page{
    min-height:80vh;
    margin-top: 2.5em;
    margin-left: 1em;
    background-color:#A9A9A9;
}
.text-label{
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 0.5em;
}
.select{
    text-align:right;
    padding-top:1em ;
}
#dropdown{
    width: 12em;
    margin-top:1em
}
.view-title{
     text-align: start;
     font-weight: bold;
     padding-left: 2em;
}
.data-point-input{
    height:40rem;
    padding:2px;
}
.view-table{
    margin: 0 auto;
    margin-top:3rem;
    width: 85%;
}
.button-area{
    padding-left:87%;
    padding-top:4em;   
}
.input-view{
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.form-v{
    margin-bottom:1em
}
</style>