<template>
    <div>
        <Toast position="top-center" group="tl" />
       
        <div class="history-contain" style="padding:2em;display:flex">
            <div style="display:flex;flex-direction: column;">
                <div  class="input-view">
                    <label class="text-label">起始時間:</label>
                    <Calendar id="icon" style="width:12rem" v-model="searchTimeRange.from" :showIcon="true" :showTime="true" dateFormat="yy/mm/dd"/>
                </div>
                <div  class="input-view">
                    <label class="text-label">結束時間:</label>
                    <Calendar id="icon" style="width:12rem" v-model="searchTimeRange.to" :showIcon="true" :showTime="true" dateFormat="yy/mm/dd"/>
                </div>
                <div style="margin-top: 2em;">
                    <Listbox v-model="selectedData" :options="selectData" optionLabel="name" style="margin:auto;width:16rem;height:20rem;overflow:auto;" />
                </div>
                <Button label="送出" class="p-button-raised" style="margin:auto;width:5rem;" @click="handleSearch" />

            </div> 
            <div class="card chart-topic-select" style="margin:auto;width:80%;position:relative;">
                <h4 >歷史圖表</h4>
                <div class="loading-bar-contain" v-if="loading">
                    <ProgressSpinner style=""/>
                </div>
      
                <div style="overflow: auto;padding:15px">
                    <apexchart
                    height="550"
                    :options="apexchartOptions"
                    :series="series"
                    ></apexchart>
                </div>
                
            </div>
        </div>
       
 
    </div>
</template>

<script>

import { ref, watch,toRefs, onBeforeMount, onMounted } from 'vue';
import { useStore } from 'vuex'
import { useToast } from "primevue/usetoast";
import  HistoryService  from "../api/historyService";
import moment from "moment";
const colorList =['#42A5F5','#FFA726','#58BD09','#F01010','#a14587','#111111'];
export default {
    setup() {
        const toast = useToast();
        const Service = ref(new HistoryService);
        const searchTimeRange =ref({from:"",to:""});
        const store = useStore();

        const loading = ref(false);
        onBeforeMount(()=>{
            store.dispatch('setPath', "home")
        });
        const selectedData = ref();
      
        const selectData =ref([
            { name: '烘料機 - 溫度', code: '1' },
            {name:'熱流道 - 溫度',code:'2'},
            {name: '熱流道 - 環境溫度', code: '3'},
            {name: '熱流道 - 負載電流值', code: '4'},
            {name: '熱流道 - 輸出功率', code: '5'},
            {name: '模溫機 - 固定側模具(母模)', code: '6'},
  
            {name:'模溫機 - 可動側模具(公模)',code:"7"}
        ]);

        const times = ref([]);
        const apexchartOptions = ref({
            chart: {
                id: "vuechart-example",

                type: 'line',
                animations: {
                    enabled: false
                }
            },
            xaxis: {
                type: 'numeric',
                title: {
                    text: '筆數'
                },
                categories: [],
                labels: {
                    formatter: function (value, timestamp, opts) {
                        const index = parseInt(timestamp);
                        return times.value[index]

                    }
                }
            },
            tooltip: {
                x: {
                    show: true,
                    formatter: (timestamp) => {
                        return times.value[parseInt(timestamp)]
                    },
                }
            }
        });
        const chartData = ref();
        const series = ref([]);
        function setChartData(labels,dataset){
            times.value = labels;
            apexchartOptions.value.xaxis.categories=labels;
            const datasets = Object.keys(dataset).filter(ele=>ele!=='TIME').map(key=>{
                return {
                    name:key,
                    data:dataset[key]
                }
            });
            series.value = datasets;
            return;
        };
        async function handleSearch() {
            if(!selectedData.value){
                toast.add({
                    severity: 'warn',
                    summary: 'Warning Message',
                    detail: `請選擇查詢項目`,
                    group: 'tl',
                    life: 3000
                });
                return;
            };
            const typeNum = selectedData.value.code;
            const timeData = searchTimeRange.value;
            const { from, to } = timeData;
            if (!from || !to) {
                toast.add({
                    severity: 'warn',
                    summary: 'Warning Message',
                    detail: `請填入${!from?"開始時間":"結束時間"}`,
                    group: 'tl',
                    life: 3000
                });
                return;
            };
            loading.value = true;
            try {
                const service = Service.value;
                const { data } = await service.getHistoryData(typeNum, from, to);
                const { TIME } = data;
                return setChartData(TIME,data);
            }catch(err){
                console.log(err.message);
                toast.add({severity: 'error', summary: 'Error Message', detail:`Something Error`, group: 'tl', life: 3000});
                return;
            }finally{
                loading.value = false
            }
         };
        return {
            searchTimeRange,handleSearch,selectedData,chartData,loading,selectData, series,apexchartOptions
        }
    }
}
</script>

<style lang="scss" scoped>
.text-label{
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 0.5em;
}
.input-view{
    margin-top: 2em;
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.loading-bar-contain{
    display:flex;
    align-items:center;
    position:absolute;
    height:550px;
    width:100%;
    z-index: 999;
    background-color:rgb(55,55,55,0.5)
}
</style>