<template>
    <div class="contain" style="font-size:2em;width:95%">
         <Toast position="top-center" group="tl" />
        <div>
            <h3 class="title">進料檢記錄資訊</h3>
            <DataTable :value="in_material" showGridlines  scrollHeight="450px" :scrollable="true" style="width:98%;" >
                <Column field="material_id" header="原料料號" alignFrozen="left"></Column>
                <Column field="lot_id" header="原料批號"></Column>
                <Column field="weight1" header="切割1" style="max-width: 110px;">
                    <template #body="slotProps">
                        {{formatFloat(slotProps.data.weight1)}}
                    </template>
                </Column>
                <Column field="weight2" header="切割2" style="max-width: 110px;">
                    <template #body="slotProps">
                        {{formatFloat(slotProps.data.weight2)}}
                    </template>
                </Column>
                <Column field="weight3" header="切割3" style="max-width:110px;">
                    <template #body="slotProps">
                        {{formatFloat(slotProps.data.weight3)}}
                    </template>
                </Column>
                <Column field="weight4" header="切割4" style="max-width: 110px;">
                    <template #body="slotProps">
                        {{formatFloat(slotProps.data.weight4)}}
                    </template>
                </Column>
                <Column field="weight5" header="切割5" style="max-width: 110px;">
                    <template #body="slotProps">
                        {{formatFloat(slotProps.data.weight5)}}
                    </template>
                </Column>
                <Column field="weight_average" header="切割重量平均值" style="max-width: 150px;">
                    <template #body="slotProps">
                        {{formatFloat(slotProps.data.weight_average)}}
                    </template>
                </Column>
                <Column field="user" header="人員" style="max-width: 100px;" ></Column>
                <Column field="inspect_date" header="檢驗時間"></Column>
                <Column field="input_date" header="記錄時間"></Column>
            </DataTable>
        </div>
        <Divider />
        <div>
            <h3 class="title">加料與進料檢記錄資訊(最新原料批號)</h3>
            <DataTable  :value="material" showGridlines scrollHeight="450px" :scrollable="true" style="margin:auto;margin-top:40px;font-size: 14px;">
                <Column field="eqno" header="機台" style="max-width: 80px;"></Column>
                <Column field="product_id" header="產品料號" style="max-width: 150px;"></Column>
                <Column field="material_id" header="原料料號" style="max-width: 180px;"></Column>
                <Column field="lot_id" header="原料批號" style="max-width: 120px;"></Column>
                <Column field="weight1" header="切割1" style="max-width: 80px;">
                    <template #body="slotProps">
                        {{formatFloat(slotProps.data.weight1)}}
                    </template>
                </Column>
                <Column field="weight2" header="切割2" style="max-width: 80px;">
                <template #body="slotProps">
                        {{formatFloat(slotProps.data.weight2)}}
                    </template>
                </Column>
                <Column field="weight3" header="切割3" style="max-width: 80px;">
                <template #body="slotProps">
                        {{formatFloat(slotProps.data.weight3)}}
                    </template>
                </Column>
                <Column field="weight4" header="切割4" style="max-width: 80px;">
                <template #body="slotProps">
                        {{formatFloat(slotProps.data.weight4)}}
                    </template>
                </Column>
                <Column field="weight5" header="切割5" style="max-width: 80px;">
                    <template #body="slotProps">
                        {{formatFloat(slotProps.data.weight5)}}
                    </template>
                </Column>
                <Column field="weight_average" header="MI平均值" style="max-width: 100px;">
                 <template #body="slotProps">
                        {{formatFloat(slotProps.data.weight_average)}}
                    </template>
                </Column>
                <Column field="material_scale" header="次料比(%)" style="max-width: 100px;"></Column>
                <Column field="lot_chg_date" header="批號變更時間" style="max-width: 180px;"></Column>
                <Column field="detection_val" header="檢測值(RH%)" style="max-width: 150px;">
                     <template #body="slotProps">
                        {{formatFloat(slotProps.data.detection_val)}}
                    </template>
                </Column>
                <Column field="sampling_date" header="水分記錄時間"></Column>
            </DataTable>
        </div>
        <Divider />
        <div style="margin-top:40px">
            <h3 class="title">加料與進料檢記錄資訊(前一組原料批號)</h3>
            <DataTable :value="pre_material" showGridlines scrollHeight="450px" :scrollable="true" style="margin:auto;margin-top:40px;font-size: 14px;">
                <Column field="eqno" header="機台" style="max-width: 80px;"></Column>
                <Column field="product_id" header="產品料號" style="max-width: 150px;"></Column>
                <Column field="material_id" header="原料料號" style="max-width: 180px;"></Column>
                <Column field="lot_id" header="原料批號" style="max-width: 120px;"></Column>
                <Column field="weight1" header="切割1" style="max-width: 80px;">
                    <template #body="slotProps">
                        {{formatFloat(slotProps.data.weight1)}}
                    </template>
                </Column>
                <Column field="weight2" header="切割2" style="max-width: 80px;">
                <template #body="slotProps">
                        {{formatFloat(slotProps.data.weight2)}}
                    </template>
                </Column>
                <Column field="weight3" header="切割3" style="max-width: 80px;">
                <template #body="slotProps">
                        {{formatFloat(slotProps.data.weight3)}}
                    </template>
                </Column>
                <Column field="weight4" header="切割4" style="max-width: 80px;">
                <template #body="slotProps">
                        {{formatFloat(slotProps.data.weight4)}}
                    </template>
                </Column>
                <Column field="weight5" header="切割5" style="max-width: 80px;">
                    <template #body="slotProps">
                        {{formatFloat(slotProps.data.weight5)}}
                    </template>
                </Column>
                <Column field="weight_average" header="MI平均值" style="max-width: 100px;">
                 <template #body="slotProps">
                        {{formatFloat(slotProps.data.weight_average)}}
                    </template>
                </Column>
                <Column field="material_scale" header="次料比(%)" style="max-width: 100px;"></Column>
                <Column field="lot_chg_date" header="批號變更時間" style="max-width: 180px;"></Column>
                <Column field="detection_val" header="檢測值(RH%)" style="max-width: 150px;">
                     <template #body="slotProps">
                        {{formatFloat(slotProps.data.detection_val)}}
                    </template>
                </Column>
                <Column field="sampling_date" header="水分記錄時間"></Column>
            </DataTable>
        </div>
        <Divider />
        <div style="margin-top:40px">
            <h3 class="title">模具保養資訊</h3>
            <DataTable :value="mold_maintain" showGridlines scrollHeight="450px" :scrollable="true" style="margin:auto;margin-top:40px;font-size: 14px;">
                <Column field="eqno" header="機台" style="max-width: 80px;"></Column>
                <Column field="mold_id" header="模具編號" style="max-width: 120px;"></Column>
                <Column field="start_date" header="保養開始時間" style="max-width: 180px;"></Column>
                <Column field="end_date" header="保養結束時間" style="max-width: 180px;"></Column>
                <Column field="maintainer" header="保養人員" style="max-width: 120px;"></Column>
                <Column field="user" header="登打人員" style="max-width: 120px;"></Column>
                <Column field="input_date" header="記錄時間" style="max-width: 180px;"></Column>
            </DataTable>
        </div>
        <Divider />
        <div style="margin-top:40px">
            <h3 class="title">模具更換資訊</h3>
            <DataTable :value="replacement_mold" showGridlines scrollHeight="450px" :scrollable="true" style="margin:auto;margin-top:40px;font-size: 14px;">
                <Column field="eqno" header="機台" style="max-width: 80px;"></Column>
                <Column field="slot1" header="穴1" style="max-width: 80px;"></Column>
                <Column field="slot2" header="穴2" style="max-width: 80px;"></Column>
                <Column field="slot3" header="穴3" style="max-width: 80px;"></Column>
                <Column field="slot4" header="穴4" style="max-width: 80px;"></Column>
                <Column field="pre_mold_id" header="舊模具編號" style="max-width: 120px;"></Column>
                <Column field="new_mold_id" header="新模具編號" style="max-width: 120px;"></Column>
                <Column field="start_date" header="開始時間" style="max-width: 180px;"></Column>
                <Column field="end_date" header="結束時間" style="max-width: 180px;"></Column>
                <Column field="changers" header="更換人員" style="max-width: 180px;"></Column>
                <Column field="user" header="登打人員" style="max-width: 120px;"></Column>
                <Column field="input_date" header="記錄時間" style="max-width: 180px;"></Column>
            </DataTable>
        </div>
        <Divider />
         <div style="margin-top:40px">
            <h3 class="title">模具維修資訊</h3>
            <DataTable :value="mold_repair" showGridlines scrollHeight="450px" :scrollable="true" style="margin:auto;margin-top:40px;font-size: 14px;">
                <Column field="eqno" header="機台" style="max-width: 80px;"></Column>

                <Column field="mold_id" header="模具編號" style="max-width: 120px;"></Column>
                <Column field="start_date" header="開始時間" style="max-width: 180px;"></Column>
                <Column field="end_date" header="結束時間" style="max-width: 180px;"></Column>
                <Column field="repair_man" header="維修人員" style="max-width: 150px;"></Column>
                <Column field="user" header="登打人員" style="max-width: 150px;"></Column>
                <Column field="description" header="維修內容" style="max-width: 250px;"></Column>
                <Column field="input_date" header="記錄時間" style="max-width: 180px;"></Column>
            </DataTable>
        </div>
    </div>
</template>
<script>
import { ref, reactive,toRefs, onBeforeMount, onMounted } from 'vue';
import { useStore } from 'vuex';
import { useToast } from "primevue/usetoast";
import HistoryService from "../api/historyService";

export default {
    setup() {
        const toast = useToast();
        const Service = ref(new HistoryService);
        const store = useStore();

        const summary = reactive({
            in_material:[],
            material:[],
            pre_material:[],
            mold_maintain:[],
            replacement_mold:[],
            mold_repair:[]
        });

         onBeforeMount(()=>{
            store.dispatch('setPath', "home")
         });
        
        onMounted(async()=>{
            const state =JSON.parse(localStorage.getItem("fox_link_token"));
            const { apart } = state;
            
            try{
                const service = Service.value;
                const data = await service.getSummary();
                const { in_material,material, pre_material, mold_maintena, replacement_mold, mold_repair } = data.data;
                summary.in_material = in_material;
                summary.material = material;
                summary.pre_material = pre_material;
                summary.mold_maintain = mold_maintena;
                summary.replacement_mold = replacement_mold;
                summary.mold_repair = mold_repair;
                return 
            }catch(err){
                console.log(err.message);
                toast.add({severity: 'error', summary: 'Error Message', detail:`Something Error`, group: 'tl', life: 3000});
                return;
            };     
        });
        function formatFloat(value) {

            return value?parseFloat(value).toFixed(3):''
        }
        return {
            ...toRefs(summary),formatFloat
        }
     }
}
</script>
<style lang="scss" scoped>

.contain{
  margin:auto;
  width:50%;
  height:80%;
  margin-bottom:200px ;
}

.title{
  color:#29628C;
  font-weight: bold;
}

::v-deep(.p-datatable)  {
    .p-datatable-thead {
        th{
            background-color:rgba(200, 230, 234, 1);
        }
    }
}
</style>