<template>
    <div class="contain" style="font-size:1.5em;width:95%">
        <Toast position="top-center" group="tl" />
        <div style="display:flex;flex-direction: row;justify-content: space-around;">
            <div class="input-view">
                <label class="text-label">起始時間:</label>
                <Calendar id="icon" style="width:12rem" v-model="searchTimeRange.from" :showIcon="true" :showTime="true"
                    dateFormat="yy/mm/dd" />
            </div>
            <div class="input-view">
                <label class="text-label">結束時間:</label>
                <Calendar id="icon" style="width:12rem" v-model="searchTimeRange.to" :showIcon="true" :showTime="true"
                    dateFormat="yy/mm/dd" />
            </div>
            <div class="input-view">
                <Button type="button" label="送出" :loading="onLoading" class="p-button-raised" style="margin:auto;width:5.5rem;" @click="searchRange" />
            </div>
        </div>
        <Divider />
        <div style="margin-top: 1em;">
            <div style="display:flex;margin-top:2em;justify-content: space-between;">
                <h3 class="title" >量測資訊</h3>
                <div style="text-align: left">
                    <Button icon="pi pi-external-link" label="Export" @click="exportCSV($event)" />
                </div>
            </div>
            <!-- Dim10# 155.06±0.38 -->
            <DataTable :value="tableData" ref="dt" sortMode="multiple" showGridlines style="margin-top:2em" scrollable="true" scrollHeight="500px" :virtualScrollerOptions="{ itemSize: 46 }" >
                <Column field="column1" header="Date" :sortable="true" exportHeader="Date" style="max-width: 120px;" ></Column>
                <Column field="column2" header="Time" :sortable="true" exportHeader="Time" style="max-width: 100px;"  ></Column>
                <Column field="column3" header="Mach.No" exportHeader="Mach.No" style="max-width: 100px;"  ></Column>
                <Column field="column4" header="Part" exportHeader="Part" style="max-width: 100px;"  ></Column>
                <Column field="column5" header="Molding No" exportHeader="Molding No" style="max-width: 150px;"  ></Column>
                <Column field="column6" header="Cavity" exportHeader="Cavity" style="max-width: 100px;"  ></Column>
                <Column field="column7" header="Dim #10 155.06±0.38" exportHeader="Dim #10 155.06±0.38" style="max-width: 150px;"  ></Column>
                <Column field="column10" header="Dim #21 98.79±0.7" exportHeader="Dim #21 98.79±0.7" style="max-width: 150px;"></Column>
                <Column field="column11" header="Dim #35 55.06±0.6" exportHeader="Dim #35 55.06±0.6" style="max-width: 150px;"></Column>
                <Column field="column12" header="Dim #36 55.06±0.6" exportHeader="Dim #36 55.06±0.6" style="max-width: 150px;"  ></Column>
                <Column field="column8" header="Dim #46 1.95±0.05" exportHeader="Dim #46 1.95±0.05" style="max-width: 150px;"  ></Column>
                <Column field="column9" header="Dim #47 1.95±0.05" exportHeader="Dim #47 1.95±0.05" style="max-width: 150px;"  ></Column>
            </DataTable>
        </div>
    </div>
</template>

<script>

import { useToast } from "primevue/usetoast";
import { ref } from 'vue';
import { useStore } from 'vuex';
import HistoryService from "../api/historyService";

export default {
    setup() {

        const toast = useToast();
        const Service = ref(new HistoryService);
        const onLoading = ref(false);
        const store = useStore();
        const searchTimeRange = ref({ from: "", to: "" });
        const tableData = ref([]);
        const dt = ref();
        const columnHeader = ref(" font-size: 14px;background: #76D7C4;height: 60px;font-weight:bold;");
        async function searchRange() {
            onLoading.value = true;
            try {
                const service = Service.value;
                const { from, to } = searchTimeRange.value;
                const { data } = await service.getMeasure(from, to);
                const { success, message } = data;
                if (!success) {
                    throw new Error(message);
                };
                const items = message['column1'];
                const newData = items.map((item, index) => {
                    return {
                        column1: message['column1'][index],
                        column2: message['column2'][index],
                        column3: message['column3'][index],
                        column4: message['column4'][index],
                        column5: message['column5'][index],
                        column6: message['column6'][index],
                        column7: message['column7'][index],
                        column8: message['column8'][index],
                        column9: message['column9'][index],
                        column10: message['column10'][index],
                        column11: message['column11'][index],
                        column12: message['column12'][index],
                    };
                });
                tableData.value = newData;
            } catch (err) {
                console.log(err.message);
                toast.add({ severity: 'error', summary: 'Error Message', detail: `Something Error`, group: 'tl', life: 3000 }); 
            } finally {
                onLoading.value = false;
            };
        };
        const exportCSV = () => {
            console.log("export")
            dt.value.exportCSV();
        };
        return {
            dt,searchTimeRange, toast, store, onLoading, tableData, columnHeader, searchRange, exportCSV
        }
    }
}
</script>

<style lang="scss" scoped>
.contain {
    margin: auto;
    width: 50%;
    height: 80%;
    margin-bottom: 200px;
}
.input-view {
    margin-top: 2em;
    width:380px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
.title {
    color: #29628C;
    font-weight: bold;
}
.text-label{
    font-weight: bold;
}
::v-deep(.p-datatable) {
    .p-datatable-thead {
        th {
            background-color: rgb(130, 222, 235);
            height:60px;
        }
    }
}
</style>