<template>
  <div class="contain" style="font-size:2em;width:80%">
      <Toast position="top-center" group="tl" />
    <div class="container-1" style="display:flex;justify-content:space-between">
      <div calss="top-contain-for-1">
        <h2 class="title" style="display:flex;align-items: center;">
          烘料機機聯網資訊
          <i class="pi pi-circle-fill baking" :class=getAlarm(BAKING) style="font-size:2rem;margin-left: 15px;"></i>
        </h2>
        <br>
        <div style="margin:auto;width:100%;height:350px;display:flex;direction:row;justify-content:start;">
          <div>
            <h3 class="title">溫度</h3>
            <DataTable :value="baking" :scrollable="true" scrollHeight="350px" :loading="loading">
              <Column field="BAKINGDRYTEMP" header="乾燥溫度" style="min-width: 120px"></Column>
              <Column field="BAKINGSETTEMP" header="設定溫度" style="min-width: 120px"></Column>
              <Column field="TIME" header="時間" style="min-width: 100px"></Column>
            </DataTable>
          </div>
        </div>
      </div>
       <div calss="top-contain-for-2">
        <h2 class="title" style="display:flex;align-items: center;">
          成型機台資訊
          <i class="pi pi-circle-fill MOLDEQUIP" :class=getAlarm(MOLDEQUIP) style="font-size:2rem;margin-left: 15px;"></i>
        </h2>
        <br>
        <div style="margin:auto;width:100%;height:350px;display:flex;direction:row;justify-content:start;">
          <div>
            <h3 class="title">CT</h3>
            <DataTable :value="MoldEquip" :scrollable="true" scrollHeight="350px" :loading="loading">
              <Column field="MOLDING" header="Molding" style="min-width: 120px"></Column>
              <Column field="CT" header="CT" style="min-width: 120px"></Column>
              <Column field="TIME" header="資料時間" style="min-width: 100px"></Column>
              <Column field="" header="" style="min-width: 80px"></Column>
              <Column field="" header="" style="min-width: 80px"></Column>
            <Column field="" header="" style="min-width: 80px"></Column>
            </DataTable>
          </div>
        </div>
      </div>
    </div>
    <br>
     <Divider />
    <h2 class="title" style="margin-top: 50px;display:flex;align-items: center;">
      熱流道機聯網資訊
        <i class="pi pi-circle-fill heatflow" :class=getAlarm(HEATFLOW) style="font-size:2rem;margin-left: 15px;"></i>
    </h2>
   
    <br>
    <div style="display:flex;direction:row;justify-content: space-between;height:350px;">
      <div>
        <h3 class="title">溫度</h3>
        <DataTable :value="temperature" responsiveLayout="scroll" :scrollable="true" scrollHeight="350px"
          :loading="loading">
          <Column field="TEMPERATURE001" header="溫度1" style="min-width: 80px"></Column>
          <Column field="TEMPERATURE002" header="溫度2" style="min-width: 80px"></Column>
          <Column field="TEMPERATURE003" header="溫度3" style="min-width: 80px"></Column>
          <Column field="TEMPERATURE004" header="溫度4" style="min-width: 80px"></Column>
          <Column field="TEMPERATURE005" header="溫度5" style="min-width: 80px"></Column>
          <Column field="TEMPERATURE006" header="溫度6" style="min-width: 80px"></Column>
          <Column field="TIME" header="時間"></Column>

        </DataTable>
      </div>
      <div>
        <h3 class="title">環境溫度</h3>
        <DataTable :value="envirtemp" responsiveLayout="scroll" :scrollable="true" scrollHeight="350px"
          :loading="loading">
          <Column field="ENVIRTEMP001" header="溫度1" style="min-width: 80px"></Column>
          <Column field="ENVIRTEMP002" header="溫度2" style="min-width: 80px"></Column>
          <Column field="ENVIRTEMP003" header="溫度3" style="min-width: 80px"></Column>
          <Column field="ENVIRTEMP004" header="溫度4" style="min-width: 80px"></Column>
          <Column field="ENVIRTEMP005" header="溫度5" style="min-width: 80px"></Column>
          <Column field="ENVIRTEMP006" header="溫度6" style="min-width: 80px"></Column>
          <Column field="TIME" header="時間"></Column>
        </DataTable>
      </div>
    </div>
    <br>

    <div style="display:flex;direction:row;justify-content: space-between;height:400px">
      <div>
        <h3 class="title">負載電流值</h3>
        <DataTable :value="loadcurrent" responsiveLayout="scroll" :scrollable="true" scrollHeight="350px"
          :loading="loading">
          <Column field="LOADCURRENT001" header="電流1" style="min-width: 80px"></Column>
          <Column field="LOADCURRENT002" header="電流2" style="min-width: 80px"></Column>
          <Column field="LOADCURRENT003" header="電流3" style="min-width: 80px"></Column>
          <Column field="LOADCURRENT004" header="電流4" style="min-width: 80px"></Column>
          <Column field="LOADCURRENT005" header="電流5" style="min-width: 80px"></Column>
          <Column field="LOADCURRENT006" header="電流6" style="min-width: 80px"></Column>
          <Column field="TIME" header="時間"></Column>

        </DataTable>
      </div>
      <div>
        <h3 class="title">輸出功率</h3>
        <DataTable :value="power" responsiveLayout="scroll" :scrollable="true" scrollHeight="350px" :loading="loading">
          <Column field="POWER001" header="功率1" style="min-width: 80px"></Column>
          <Column field="POWER002" header="功率2" style="min-width: 80px"></Column>
          <Column field="POWER003" header="功率3" style="min-width: 80px"></Column>
          <Column field="POWER004" header="功率4" style="min-width: 80px"></Column>
          <Column field="POWER005" header="功率5" style="min-width: 80px"></Column>
          <Column field="POWER006" header="功率6" style="min-width: 80px"></Column>
          <Column field="TIME" header="時間"></Column>
        </DataTable>
      </div>
    </div>
 
    <Divider/>
    <h2 class="title" style="margin-top: 100px;display:flex;align-items: center">
      模溫機聯網資訊
         <i class="pi pi-circle-fill heatflow" :class=getAlarm(MoldTemperature) style="font-size:2rem;margin-left: 15px;"></i>
    </h2>
    
    <div style="display:flex;direction:row;justify-content: space-between;height:350px;">
      <div>
        <h3 class="title" style="margin-top:50px">固定側模具(母模)</h3>
        <DataTable :value="mold1" responsiveLayout="scroll" :scrollable="true" scrollHeight="350px" :loading="loading">
          <Column field="SETTEMP1" header="設定溫度" style="min-width: 100px"></Column>
          <Column field="OUTCOALTEMP1" header="出煤溫度" style="min-width: 100px"></Column>
          <Column field="INCOALTEMP1" header="回煤溫度" style="min-width: 100px"></Column>
          <Column field="MOLDTEMP1" header="模具溫度" style="min-width: 100px"></Column>
          <Column field="TIME" header="時間"></Column>
        </DataTable>
      </div>
      <div>
        <h3 class="title" style="margin-top:50px">可動側模具(公模)</h3>
        <DataTable :value="mold2" responsiveLayout="scroll" :scrollable="true" scrollHeight="350px" :loading="loading">
          <Column field="SETTEMP2" header="設定溫度" style="min-width: 100px"></Column>
          <Column field="OUTCOALTEMP2" header="出煤溫度" style="min-width:100px"></Column>
          <Column field="INCOALTEMP2" header="回煤溫度" style="min-width: 100px"></Column>
          <Column field="MOLDTEMP2" header="模具溫度" style="min-width: 100px"></Column>
          <Column field="TIME" header="時間" style="min-width: 100px"></Column>
          <Column field="" header=""></Column>
        </DataTable>
      </div>
    </div>
  </div>
</template>

<script>
import { onBeforeMount, onMounted, reactive, ref, toRefs } from 'vue';
import { useStore } from 'vuex';
import HomeService from "./api/homeService";
const refreshSecond = 5;
export default {
    setup(){
       onBeforeMount(()=>{
            store.dispatch('setPath', "home")
       });
      onMounted(() => {
        // getData();
        const timer = setInterval(() => {
          getHomeData();
          setTimeout(() => timer)
        }, refreshSecond * 800);

      })
      const TableState = reactive({
        baking: [],
        envirtemp: [],
        loadcurrent: [],
        mold1: [],
        mold2: [],
        power: [],
        temperature: [],
        MoldEquip:[]
      });
    const alarms = reactive({
      BAKING: false,
      HEATFLOW: false,
      MoldTemperature: false,
      MOLDEQUIP:false
    });
    const loading = ref(false);
      const service = ref(new HomeService());
      const store = useStore();
      const state = localStorage.getItem("fox_link_token");
      const userState = ref(JSON.parse(state));
        
async function getHomeData() {
        try {
          loading.value=false
          const { data } = await service.value.getHomeData();
          const {
              BAKING,
              ENVIRTEMP,
              LOADCURRENT,
              MOLD1,
              MOLD2,
              POWER,
              TEMPERATURE,
              alarm
            } = await data;
       
          TableState.baking = [...BAKING];
          TableState.envirtemp =[...ENVIRTEMP];
          TableState.loadcurrent = [...LOADCURRENT];
          TableState.mold1 = [...MOLD1];
          TableState.mold2 = [...MOLD2];
          TableState.power =[...POWER];
          TableState.temperature = [...TEMPERATURE];
          TableState.MoldEquip = data["MOLD-EQUIP"];
          alarms.BAKING = alarm.BAKING;
          alarms.HEATFLOW = alarm.HEATFLOW;
          alarms.MoldTemperature = alarm.MOLDTEMPERATURE;
          alarms.MOLDEQUIP = alarm['MOLD-EQUIP'];
          return 
        } catch (err) { 
          toast.add({ severity: 'error', summary: 'Error Message', detail: `資料更新錯誤。`, group: 'tl', life: 3000 });
          return
        } finally {
          loading.value = false
        };
    }
    function getAlarm(bol) {
      return bol? 'alarm':'normal'  
    };
          return {
            ...toRefs(TableState),...toRefs(alarms), userState, loading,getAlarm
          }
      }
}
</script>

<style lang="scss" scoped>
.contain{
  margin:auto;
  width:50%;
  height:80%;
  margin-bottom:200px ;
}

.title{

  color:#29628C;
  font-weight: bold;
}
table thead{
  background-color: red;
}
.alarm{
  color:red
}
.normal{
  color:#46E930
}
</style>

