<template>
    <div>
        <Card class='card-set'>
             <template #title>
                <h2 class='card-title'>使用者登入</h2>
            </template>
            <template #content>
                <form @submit.prevent="handleLogin">
                <div class="p-grid">
                    <div class="p-fluid">
                        <div class="p-fluid">
                            <div class="p-field">
                                <label for="username">帳號(請輸入工號):</label>
                                <InputText id="username" type="text" v-model="username" required/>
                            </div>
                            <div class="p-field">
                                <label for="password">密碼:</label>
                                <InputText id="password" type="password" v-model="password" required/>
                            </div>
                        </div>
                        <Button class="submit-btn" type="submit" label="登入"></Button>
                    </div>
                </div>
                </form>
            </template>
            </Card>
        </div>
</template>

<script>
import { computed, onMounted, ref } from 'vue';
import { useRouter } from "vue-router";
import { useStore } from 'vuex';
export default {
    setup(){
        const store = useStore();
        const username=ref('');
        const password=ref('');
        const router = useRouter();

        onMounted(()=>{
            let auth = localStorage.getItem('fox_link_token');
            if(auth){
                window.location.href = '/home';
            }
        });

        const handleLogin=()=>{
            let data = {
                username:username.value,
                password:password.value,
            };
            store.dispatch("login",data);
            const IsAuth = computed(() => store.getters.isAuth)
  
          
            setTimeout(()=>{
                console.log("login")
            }, 1000)

            if(IsAuth.value){
                 window.location.href = '/home';
                // router.push({ path: '/home' });
         
            }else{
                let err = computed(()=>store.getters.getError)
                alert(err.value)
                store.dispatch('initError');
            }
            // if(username.value==="admin"&&password.value==="fs2021"){         
            //     const token= data.username+data.password;
            //     localStorage.setItem("fox_link_token",token);
            //     store.dispatch('setAuth', true)
            //     router.push('/')
            // } else {
            //     alert("輸入錯誤，請重試")
            // } 
        };
        return {
            username, password, handleLogin
        }
    }
}
</script>

<style lang="scss" scoped>

.card-set {
    width: 40%;
    height:35em;
    margin-top:10% !important;
    margin:0 auto;
    padding: 1em;
    text-align:center;
    box-shadow: 5px 5px 4px rgba(0,0,0,0.6);
    .card-title{
        color:#34B7CF;
    }
    .p-fluid{
        margin: 0 auto;
        width: 80%
    }
    .p-field{
        text-align:start;
        color:grey;
        margin-top: 2em;
        font-size:1.2em;
        font-weight: bold;
    }
    .p-field-checkbox{
        margin-top:1em;
        text-align:start
    }
    .submit-btn{
        margin-top:3rem;
        width: 30%;
    }
}
</style>