<template>
	<div style="width:100%;position:fixed;top:0;left:0;z-index:999">
        <Menubar  style="height:80px;background-color: #e3f2fd" >
             <template #start>
                
                 <div class="nav-item" style="display: flex;align-items: center;">
                    <img :src="logo" height="40" alt='#' />
                     <span class="navbar-text top-title mr-2"  style="font-size: 2em;">
                        成型製程資訊整合平台
                    </span>
                 </div>
                
            </template>
             <template #end v-if="IsAuth">
                <Menubar  style="height:80px;background-color: #e3f2fd;" :model="items">
                    <template #item="{item}" >
                        <li v-if="item.items &&(state.apart===0||!item.apart||state.apart===item.apart)" class="nav-item p-menuitem-text">
                            <a  class="nav-item" :class="{active:path===item.path}" @click="toggle" :name="item.path">
                                <i :class="item.icon" />
                                {{item.label}}
                            </a>
                            <div v-if="item.path==='home'">
                                 <Menu id="overlay_menu" ref="menu0" :model="item.items" :popup="true" style="width:160px"/>
                            </div>
                            <div v-if="item.path==='feed-record'">
                                 <Menu id="overlay_menu" ref="menu1" :model="item.items" :popup="true" style="width:150px"/>
                            </div>
                            <div v-if="item.path==='mold-page'">
                                 <Menu id="overlay_menu" ref="menu2" :model="item.items" :popup="true" style="width:150px"/>
                            </div>
                            <div v-if="item.path==='monitor'">
                                <Menu id="overlay_menu" ref="menu3" :model="item.items" :popup="true" style="width:150px" />
                            </div>
                           
                        </li>
                        <li v-else-if="state.apart===0||!item.apart||state.apart===item.apart" class="nav-item p-menuitem-text">
                            <a :href="item.url" class="nav-item" :class="{active:path===item.path}" @click="item.command">
                                <i :class="item.icon" />
                                {{item.label}}
                            </a>
                        </li>
                    </template>
                </Menubar>
            </template>
        </Menubar>
    </div>
</template>

<script>
import { computed, ref } from 'vue';
import { useRouter } from 'vue-router';
import { useStore } from 'vuex';
import logo from "../assets/logoo.png";

export default {
	 
	setup(){
    
		const store = useStore();
		const path = computed(()=>store.getters.currentPath);
		const IsAuth = computed(()=>store.getters.isAuth);
        const state = ref(JSON.parse(localStorage.getItem("fox_link_token")));
		const router = useRouter();
        const menu0 = ref();
        const menu1 = ref();
        const menu2 = ref();
        const menu3 = ref();
 
        const bar = [
            {
                label: '主頁面',
                icon:'pi pi-fw pi-bars',
                path:'home',
                apart:0,
                items:[
                    {
                        label:"機聯網資訊",
                        url:"/home"
                    },
                    {
                        label:"機聯網歷史記錄",
                        url:"/home/history"
                    },
                    {
                        label:"各項記錄資訊",
                        url:"/home/summary"
                    },
                    {
                        label:"尺寸量測資訊",
                        url: "/home/size"
                    },
                
                ],
            },
            {
                label: '成型監控參數',
                icon: 'pi pi-fw pi-plus-circle',
                path: 'monitor',
                apart: 0,
                items: [
                    {
                        label: "監控參數",
                        url: "/monitor-params"
                    },
                    {
                        label: "單射重點參數",
                        url: "/monitor-single"
                    },
                    {
                        label: "雙射重點參數",
                        url: "/monitor-double"
                    },
    
                ],
            },
            {
                label:'進料檢驗',
                icon:'pi pi-fw pi-plus',
                url: '/iqc-page',
                path:"iqc-page",
                apart:1
                
            },
            {
                label:'加料記錄',
                icon:'pi pi-fw pi-filter',
                path:"feed-record",
                apart:2,
                items:[
                    {
                        label:"換次料比",
                        url:"/feed-ratio"
                    },
                    {
                        label:"更換批號",
                        url:"/feed-replace"
                    }
                ],
         
                
            },
            {
                label:'水份記錄',
                icon:'pi pi-fw pi-external-link',
                url: '/moisture-record',
                path:"moisture-record",
                apart:3
            },
            {
                label:'模具記錄',
                icon:'pi pi-fw pi-external-link',
                path:"mold-page",
                apart:4,
                items:[
                    {
                        label:"模具保養",
                        url:"/mold-maintain"
                    },
                    {
                        label:"模具更換",
                        url:"/mold-replace"
                    },
                    {
                        label:"模具維修",
                        url:"/mold-repair"
                    }
                ],
            },
            {
                label:'Quit',
                icon:'pi pi-fw pi-power-off',
                path:"logout",
                command: () => {
                    logout();
                }
            }
        ]

        const items = ref(bar);
		const logout=()=>{
			let ok = confirm("確定登出?")
			if(ok){
				store.dispatch('logout');
				router.replace('/login');
			}
		};
        const toggle = (event) => {
            const path = event.target.name;
            if(path ==="home"){
                menu0.value.toggle(event);
            };
            if(path==="mold-page"){
                menu2.value.toggle(event);
            };
            if(path==="feed-record"){
                menu1.value.toggle(event);
            };
            if (path === "monitor") {
                menu3.value.toggle(event);
            };
            // menu.value.toggle(event);
        };
       
		return {
            IsAuth, path, items, menu0, menu1, menu2, menu3, state, logo ,
			logout,toggle
		};
	}
}
</script>
<style lang="scss" scoped>
.navbar-expand-lg{
	box-shadow:5px 5px 5px rgba(0,0,0,0.5);
	position: absolute;
	top:0;
	left:0;
	z-index: 999;
	width: 100%;
	height:80px;
}
.top-title{
	font-size:2.5em;
	font-weight: bold;
	color: #6389b6;

}
.navbar-tail{
	font-size:1.4em;
}
.navbar-nav{
	width: 46em;
}
.nav-item{
	padding-top: 1em;
	width:7.8em;
	font-size:1em;
	text-decoration:none;
	white-space: nowrap;
	font-weight: bold;
    text-align: center; 
}
.active{
	color:red
}
::v-deep(.tabmenudemo-content) {
    padding: 2rem 1rem;
}
</style>