<template>
     <div class="container">
         <Toast position="top-center" group="tl" />
        <h1 class='title'>水分測試記錄表</h1>
        <div class="input-page">
            <div style="margin:0 auto">
                 <div class="p-fluid grid formgrid" style="text-align:center;padding-top:2em">
                    <div class="field col-12 md:col-4">
                        <div  class="input-view">
                            <label class="text-label">登打人員:</label>
                            <Dropdown id="dropdown"  v-model="inputData.member" :options="memberData" optionLabel="show" optionValue="show" class="form-v" />
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                          <div  class="input-view">
                            <label class="text-label">成型機台:</label>
                            <Dropdown id="dropdown"  v-model="inputData.machine" :options="machineList" optionLabel="id" optionValue="id" class="form-v"/>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                          <div class="input-view">
                            <label class="text-label">產品料號:</label>
                            <Dropdown id="dropdown" v-model="inputData.productNumber" :options="productNumberList" optionLabel="id" optionValue="id" class="form-v"/>
                        </div>
                    </div>
                </div>
                <div class="p-fluid grid formgrid" style="text-align:center;">
                    <div class="field col-12 md:col-4">
                        <div  class="input-view">
                            <label class="text-label">原料料號:</label>
                            <Dropdown id="dropdown"  v-model="inputData.patNumber" :options="patNumberList" optionLabel="id" optionValue="id" class="form-v"/>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div  class="input-view" style="margin-top:1em">
                            <label class="text-label">抽樣時間:</label>
                            <Calendar id="time24" v-model="inputData.samplingTime" :showTime="true"  :showIcon="true"  style="width:48.5%" dateFormat="yy/mm/dd"/>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div class="input-view" style="margin-top:1em">
                            <label class="text-label">測試時間:</label>
                             <Calendar id="time24" v-model="inputData.testTime" :showTime="true"  :showIcon="true"  style="width:48.5%" dateFormat="yy/mm/dd"/>
                        </div>
                    </div>
                </div>
                 <div class="p-fluid grid formgrid" style="text-align:center">
                    <div class="field col-12 md:col-4">
                        <div  class="input-view" style="margin-left:2em;margin-top:1em">
                            <label class="text-label">檢測結果(RH%):</label>
                            <InputText type="number" v-model="inputData.sampling" style="width:40%"/>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div  class="input-view">
                            <label class="text-label">檢測人員:</label>
                            <Dropdown id="dropdown"  v-model="inputData.inspector" :options="memberData" optionLabel="show" optionValue="show" class="form-v" />
                        </div>
                    </div>
            
                </div>
            </div> 
            <div style="display:flex;justify-content:center;align-items: center;">
                <Button label="新增一筆記錄" class="p-button-raised p-button-info" style="width:10rem;margin-top:2.5%" @click="addRecord"/>
            </div>
            <div class="view-table">
                <div class="card" style="height:calc(50vh - 143px)">
                    <DataTable class="p-datatable-sm p-datatable-water" :value="tableData" :scrollable="true" showGridlines scrollHeight="flex">
                        <Column field="machine" header="機台" ></Column>
                        <Column field="productNumber" header="產品料號"></Column>
                        <Column field="patNumber" header="原料料號" ></Column>
                        <Column field="samplingTime" header="抽樣時間"></Column>
                        <Column field="testTime" header="測試時間"></Column>
                        <Column field="sampling" header="結果"></Column>
                        <Column field="member" header="登打人員"></Column>
                        <Column field="inspector" header="檢測人員"></Column>
                        <Column header="刪除"> 
                            <template #body="slotProps">
                                <Button icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-sm" @click="handleDelete(slotProps.data)" />
                            </template>
                        </Column>
                    </DataTable>
                </div>
            </div>
            <div style="display:flex;justify-content:center;align-items: center;">
                 <Button label="送出" class="p-button-raised" style="width:6rem;margin-top:2.5%;margin-bottom:2.5%" @click="submitPost"/>
            </div>
        </div>
        <h1 class='title' style="margin-top:2em">水分測試記錄查詢</h1>
   
        <div class="input-page">
            <div style="width:95%;margin:0 auto">
                 <div class="p-fluid grid formgrid" style="text-align:center;padding-top:2em">
                    <div class="field col-12 md:col-4">
                          <div  class="input-view">
                            <label class="text-label">成型機台:</label>
                            <Dropdown id="dropdown"  v-model="searchState.machine" :options="machineList" optionLabel="id" optionValue="id" class="form-v"/>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                          <div class="input-view">
                            <label class="text-label">產品料號:</label>
                            <Dropdown id="dropdown" v-model="searchState.productNumber" :options="productNumberList" optionLabel="id" optionValue="id" class="form-v"/>
                        </div>
                    </div>
                </div>
                 <div class="p-fluid grid formgrid" style="text-align:center;padding-top:1em">
                    <div class="field col-12 md:col-4">
                        <div  class="input-view">
                            <label class="text-label">起始時間:</label>
                            <Calendar id="icon"  v-model="searchState.from" :showIcon="true" :showTime="true" dateFormat="yy/mm/dd" style="width:50%"/>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div  class="input-view">
                            <label class="text-label">結束時間:</label>
                           <Calendar id="icon"  v-model="searchState.to" :showIcon="true" :showTime="true" dateFormat="yy/mm/dd" style="width:50%"/>
                           
                        </div>
                    </div>
                    <div class="field col-12 md:col-4" >
                        <div style="text-align:center">
                            <Button label="查詢" class="p-button-raised" style="width:6rem;" @click="handleSearch"/>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top:3em">
                <div style="width:85%;margin:auto">
                    <DataTable class="p-datatable-sm p-datatable-water" :value="searchTable" :scrollable="true" showGridlines scrollHeight="flex" style="max-height: 500px;overflow-y: auto">
                        <Column field="machine" header="機台" style="max-width: 5em;"></Column>
                        <Column field="productNumber" header="產品料號"></Column>
                        <Column field="patNumber" header="原料料號" ></Column>
                        <Column field="sampling" header="檢測值(RH%)" ></Column>
                        <Column field="samplingTime" header="抽樣時間"></Column>
                        <Column field="testTime" header="測試時間"></Column>
                        <Column field="inspector" header="檢測人員"></Column>
                        <Column field="member" header="登打人員"></Column>
                        <Column field="recordTime" header="記錄時間"></Column>
                    </DataTable>
                </div>
            </div>
        </div>
    </div>
 
</template>

<script>
import moment from "moment";
import { useToast } from "primevue/usetoast";
import { onBeforeMount, onMounted, ref } from 'vue';
import { useStore } from 'vuex';
import MoistureService from "../api/moistureService";
import CodeService from "../asset/codeService";

const initInputData = {
    uid:null,member:"",machine:"",productNumber:"",patNumber:"",sampling:"",samplingTime:"",testTime:"",inspector:""
};
export default {
    setup () {
         onBeforeMount(()=>{
            store.dispatch('setPath', "moisture-record");
        });
        onMounted(async()=>{
            const service = Service.value;
            const state =JSON.parse(localStorage.getItem("fox_link_token"));
            const { apart } = state;
            try{
                const { data: members } = await service.getMemberData(apart);
                memberData.value = members.map(ele=>{
                    return{
                        ...ele,
                        show:`${ele.name}(${ele.id})`
                    }
                });
                const {data:machines} = await service.getMachine();
                machineList.value = machines.map(ele=>{return {id:ele}});
                const {data:PatNumbers} = await service.getPatNumber();
                patNumberList.value = PatNumbers.map(ele=>{return{id:ele}});
                const {data:ProductNumbers}=await service.getProductNumber();
                productNumberList.value = ProductNumbers.map(ele=>{return {id:ele}});

            }catch(err){
                console.log(err.message)
                toast.add({severity: 'error', summary: 'Error Message', detail:`Something Error`, group: 'tl', life: 3000});
                return;
            }
        });
        const Service = ref(new MoistureService);
        const toast = useToast();
        const store = useStore();
        const machineList =ref([]);
        const memberData =ref([]);
        
        const searchState=ref({
            machine:"",product:"",from:"",to:""
        });
        const inputData =ref({...initInputData});
        const patNumberList =ref([]);
        const productNumberList =ref([]);
        const tableData =ref([]);
        const searchTimeRange =ref({from:"",to:""});
        const searchTable =ref([]);
        
        const formatTime =(timeString)=>moment(timeString).format("YYYY/MM/DD HH:mm");

        const addRecord=()=>{
            let uid = Date.now();
            const data = inputData.value;
            const updatedData = {
                ...data,
                uid:uid,
                samplingTime:formatTime(data.samplingTime),
                testTime:formatTime(data.testTime),
                
            };
             for(let item of Object.keys(updatedData)){
                if(!updatedData[item].toString()){
                    toast.add({
                        severity: 'warn', summary: 'Warn Message', detail: `請填寫 ${CodeService[item]}`, group: 'tl', life: 3000
                        });
                    return
                }   
            };
            inputData.value ={...initInputData};
            tableData.value = [...tableData.value,updatedData];
        };

        const handleDelete=(prod)=>{
            const target = prod;
            tableData.value = tableData.value.filter(data=>data.uid!==target.uid);
        };
        
        async function handleSearch(){
            const {machine,productNumber, from, to } = searchState.value;
            if(!machine||!productNumber){
                return  toast.add({
                    severity: 'warn', summary: 'Warn Message', detail: `請填寫 ${CodeService[machine?"productNumber":"machine"]}`, group: 'tl', life: 3000
                    });
            }
            if(!from||!to){
                return  toast.add({
                    severity: 'warn', summary: 'Warn Message', detail: `請填寫 ${CodeService[from?"to":"from"]}`, group: 'tl', life: 3000
                    });
            };
            const bodyData = {
                machine:machine,
                productName:productNumber,
                from:moment(from).format("YYYY/MM/DD HH:mm"),
                to:moment(to).format("YYYY/MM/DD HH:mm")
            };
            try{
                const service = Service.value;
                const data = await service.postSearchData(bodyData);
                if(!data.data){
                     toast.add({severity: 'warn', summary: 'Warn Message', detail:"沒有結果", group: 'tl', life: 3000});
                };
                searchTable.value = data.data;
            }catch(err){
                console.log(err.message)
                toast.add({severity: 'error', summary: 'Error Message', detail: err.message, group: 'tl', life: 3000});
                return;
            }
        };
        async function submitPost(){
            try{
                 let body ={data:tableData.value};
                
                const {success,message} = await Service.value.postData(body);
                if(!success){
                    throw new Error(message);
                };
                
                toast.add({
                    severity: 'success',
                    summary: 'Success Message',
                    detail: message,
                    group: 'tl',
                    life: 3000
                });
                tableData.value = [];
                return; 
            }catch(err){
                toast.add({
                    severity: 'error', summary: 'Error Message', detail: err.message, group: 'tl', life: 3000
                });
            }finally{
                tableData.value=[];
            }
        }
        return {
            memberData,inputData,patNumberList,productNumberList,tableData,searchTimeRange,searchTable, machineList,searchState,
            handleDelete,addRecord,handleSearch,submitPost
        }
    }
}
</script>

<style lang="scss" scoped>
.container{
    color: #555555;
    margin:0 auto;
    width: 100%;
    height: 100%;
    margin-bottom: 2em;
}
.title{
    font-size:2em;
    text-align: start;
    color:#008B8B;
    font-weight: bold;
}
.input-page{
    min-height:80vh;
    margin-top: 2.5em;
    margin-left: 1em;
    background-color:#A9A9A9;
}
.text-label{
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 0.5em;
}
.select{
    text-align:right;
    padding-top:1em ;
}
#dropdown{
    width: 12em;
    margin-top:1em
}
.view-title{
     text-align: start;
     font-weight: bold;
     padding-left: 2em;
}
.data-point-input{
    height:40rem;
    padding:2px;
}
.view-table{
    margin: 0 auto;
    margin-top:3rem;
    width: 85%;
}
.button-area{
    padding-left:87%;
    padding-top:4em;   
}
.input-view{
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.form-v{
    margin-bottom:1em
}
</style>