<template>
    <div>
        <div style="display:flex;justify-content: space-between;width:46%">
            <div class="input-view">
                <label class="text-label">開始時間:</label>
                <Calendar inputId="icon" v-model="date.start_time" :showIcon="true" style="width:200px" />
            </div>
            <div class="input-view">
                <label class="text-label">結束時間:</label>
                <Calendar inputId="icon" v-model="date.end_time" :showIcon="true" style="width:200px" />
            </div>
            <div>
                <Button>查詢</Button>
            </div>
        </div>
        <div style="display:flex;justify-content: space-between;width:40%;margin-top: 20px;">
            <div class="input-view">
                <label class="text-label">登打人員:</label>
                <Dropdown id="dropdown" v-model="state.member" :options="memberData" optionLabel="show" optionValue="show"
                    class="form-v" />
            </div>
            <div class="input-view">
                <label class="text-label">表單流水號:</label>
                <InputText id="username" type="text" v-model="value" class="input-box" />
            </div>
        </div>
        <div class="input-page" style="margin-top: 20px;">
            <div class="p-fluid grid formgrid" style="text-align:center;padding-top:2em">
                <div class="field col-12 md:col-3">
                    <div class="input-view">
                        <label class="text-label">機台號碼:</label>
                         <p class="text-view">{{ value}}</p>
                    </div>
                </div>
                <div class="field col-12 md:col-3">
                    <div class="input-view">
                        <label class="text-label">模號：</label>
                         <p class="text-view">{{ value}}</p>
                    </div>
                </div>
                <div class="field col-12 md:col-3">
                    <div class="input-view">
                        <label class="text-label">模穴數：</label>
                        <p class="text-view">{{ value}}</p>
                    </div>
                </div>
                <div class="field col-12 md:col-3">
                    <div class="input-view">
                        <label class="text-label">試模次數：</label>
                        <p class="text-view">{{ value}}</p>
                    </div>
                </div>
            </div>
            <Divider />
            <!-- divider  -->
            <div class="p-fluid grid formgrid" style="text-align:center;padding-top:2em">
                <div class="field col-12 md:col-3">
                    <div class="input-view">
                        <label class="text-label">週期(sec)±5:</label>
                        <p class="text-view">{{ value}}</p>
                    </div>
                </div>
                <div class="field col-12 md:col-3">
                    <div class="input-view">
                        <label class="text-label">產品料號:</label>
                         <p class="text-view">{{ value}}</p>
                    </div>
                </div>
                <div class="field col-12 md:col-3">
                    <div class="input-view">
                        <label class="text-label">總重量(g)：</label>
                        <p class="text-view">{{ value}}</p>
                    </div>
                </div>
        
            </div>
            <Divider />
            <!-- divider  -->
            <div class="p-fluid grid formgrid" style="text-align:center;padding-top:2em">
                <div class="field col-12 md:col-3">
                    <div class="input-view">
                        <label class="text-label">原料料號 [A]：</label>
                         <p class="text-view">{{ value}}</p>
                    </div>
                </div>
                <div class="field col-12 md:col-3">
                    <div class="input-view">
                        <label class="text-label">原料材質 [A]：</label>
                        <p class="text-view">{{ value}}</p>
                    </div>
                </div>
                <div class="field col-12 md:col-3">
                    <div class="input-view">
                        <label class="text-label">模重(g) [A]：</label>
                        <p class="text-view">{{ value}}</p>
                    </div>
                </div>
                <div class="field col-12 md:col-3">
                    <div class="input-view">
                        <label class="text-label">料頭重(g) [A]：</label>
                        <p class="text-view">{{ value}}</p>
                    </div>
                </div>
            </div>
            <Divider />
            <!-- divider  -->
            <div class="p-fluid grid formgrid" style="text-align:center;padding-top:2em">
                <div class="field col-12 md:col-3">
                    <div class="input-view">
                        <label class="text-label">原料料號 [B]：</label>
                         <p class="text-view">{{ value}}</p>
                    </div>
                </div>
                <div class="field col-12 md:col-3">
                    <div class="input-view">
                        <label class="text-label">原料材質 [B]：</label>
                        <p class="text-view">{{ value}}</p>
                    </div>
                </div>
                <div class="field col-12 md:col-3">
                    <div class="input-view">
                        <label class="text-label">模重(g) [B]：</label>
                        <p class="text-view">{{ value}}</p>
                    </div>
                </div>
                <div class="field col-12 md:col-3">
                    <div class="input-view">
                        <label class="text-label">料頭重(g) [B]：</label>
                        <p class="text-view">{{ value}}</p>
                    </div>
                </div>
            </div>
            <Divider />
            <div class="p-fluid grid formgrid" style="text-align:center;padding-top:2em">
                <div class="field col-12 md:col-3">
                    <div class="input-view">
                        <label class="text-label">成品重量(g) [A]：</label>
                        <p class="text-view">{{ value}}</p>
                    </div>
                </div>
                <div class="field col-12 md:col-3">
                    <div class="input-view">
                        <label class="text-label">烘料溫度土10 [A]：</label>
                        <p class="text-view">{{ value}}</p>
                    </div>
                </div>
            </div>
            <Divider />
            <div class="p-fluid grid formgrid" style="text-align:center;padding-top:2em">
                <div class="field col-12 md:col-3">
                    <div class="input-view">
                        <label class="text-label">成品重量(g) [B]：</label>
                        <p class="text-view">{{ value}}</p>
                    </div>
                </div>
                <div class="field col-12 md:col-3">
                    <div class="input-view">
                        <label class="text-label">烘料溫度土10 [B]：</label>
                        <p class="text-view">{{ value}}</p>
                    </div>
                </div>
            </div>
            <div id="噴嘴溫度" class="row-content" style="width:80%;margin:auto">
                <h2 class="text-label">噴嘴溫度 土10：</h2>
                <div style="width:1000px;">
                    <DataTable :value="nozzle" responsiveLayout="scroll" class="editable-cells-table">
                        <Column v-for="col of nozzle1Columns" :field="col.field" :header="col.header" :key="col.field"
                            style="width:15%">
                            <template #editor="{ data, field }">
                                <p>{{ data[field]}}</p>
                            </template>
                        </Column>
                    </DataTable>
                </div>
            </div>
            <Divider />
            <div class="row-content" style="margin-top: 50px;">
                <div id="模具溫度" class="row-content" style="width:40%">
                    <h2 class="text-label">模具溫度 土10：</h2>
                    <div style="width:500px;">
                        <DataTable :value="moldTemp"   showGridlines
                            class="editable-cells-table" responsiveLayout="scroll">
                            <Column v-for="col of modelColumns" :field="col.field" :header="col.header" :key="col.field"
                                style="width:33%">
                                <template #editor="{ data, field }">
                                    <p>{{data[field]}}</p>
                                </template>
                            </Column>
                        </DataTable>
                    </div>
                </div>
            </div>
            <Divider />
            <div class="row-content" style="margin-top: 50px;">
                <h2 class="text-label">熱流道1 溫度 土10 [A]：</h2>
                <div style="width:1000px">
                    <DataTable :value="heatRoad1"   showGridlines
                        class="editable-cells-table" responsiveLayout="scroll">
                        <Column v-for="col of  tempColumns.slice(0, 6)" :field="col.field" :header="col.header" :key="col.field"
                            style="width:14%">
                            <template #editor="{ data, field }">
                            <p>{{data[field]}}</p>
                            </template>
                        </Column>
                    </DataTable>
                    <DataTable :value="heatRoad1"   showGridlines
                        class="editable-cells-table" responsiveLayout="scroll">
                        <Column v-for="col of tempColumns.slice(6, 12)" :field="col.field" :header="col.header" :key="col.field"
                            style="width:14%;align-contents: center;">
                            <template #editor="{ data, field }">
                            <p>{{data[field]}}</p>
                            </template>
                        </Column>
                    </DataTable>
                </div>
            
            </div>
            <Divider />
            <div class="row-content" style="margin-top: 50px;">
                <h2 class="text-label">熱流道2 溫度 土10 [B]：</h2>
                <div style="width:1000px">
                    <DataTable :value="heatRoad2"   showGridlines
                        class="editable-cells-table" responsiveLayout="scroll">
                        <Column v-for="col of  tempColumns.slice(0, 6)" :field="col.field" :header="col.header" :key="col.field"
                            style="width:14%">
                            <template #editor="{ data, field }">
                            <p>{{data[field]}}</p>
                            </template>
                        </Column>
                    </DataTable>
                    <DataTable :value="heatRoad2"   showGridlines
                        class="editable-cells-table" responsiveLayout="scroll">
                        <Column v-for="col of tempColumns.slice(6, 12)" :field="col.field" :header="col.header" :key="col.field"
                            style="width:14%;align-contents: center;">
                            <template #editor="{ data, field }">
                            <p>{{data[field]}}</p>
                            </template>
                        </Column>
                    </DataTable>
                </div>
            </div>
            <Divider />
            <div class="row-content" style="margin-top: 50px;">
                <div id='鎖模'>
                    <h2 class="text-label">鎖模</h2>
                    <div style="width:600px">
                        <DataTable :value="lockMold"   showGridlines
                            class="editable-cells-table" responsiveLayout="scroll">
                            <Column v-for="col of lockColumns" :field="col.field" :header="col.header" :key="col.field"
                                style="width:14%;align-contents: center;">
                                <template #editor="{ data, field }">
                                    <p>{{data[field]}}</p>
                                </template>
                            </Column>
                        </DataTable>
                    </div>
                </div>
                <div id='開模'>
                    <h2 class="text-label">開模</h2>
                    <div style="width:600px">
                        <DataTable :value="openMold"   showGridlines
                            class="editable-cells-table" responsiveLayout="scroll">
                            <Column v-for="col of openColumns" :field="col.field" :header="col.header" :key="col.field"
                                style="width:14%;align-contents: center;">
                                <template #editor="{ data, field }">
                                    <p>{{data[field]}}</p>
                                </template>
                            </Column>
                        </DataTable>
                    </div>
                </div>
            </div>
            <Divider />
            <h2 class="text-label table-title" style="margin-top: 50px;margin-left: 140px;">射出</h2>
            <div class="row-content">
                <div id='射出A'>
            
                    <div style="width:600px">
                        <DataTable :value="shootA"   showGridlines
                            class="editable-cells-table" responsiveLayout="scroll">
                            <Column v-for="col of shootAColumns" :field="col.field" :header="col.header" :key="col.field"
                                style="width:14%;align-contents: center;">
                                <template #editor="{ data, field }">
                                    <p>{{data[field]}}</p>
                                </template>
                            </Column>
                        </DataTable>
                    </div>
                </div>
                <div id='射出B'>
                    <div style="width:600px">
                        <DataTable :value="shootB"   showGridlines
                            class="editable-cells-table" responsiveLayout="scroll">
                            <Column v-for="col of shootBColumns" :field="col.field" :header="col.header" :key="col.field"
                                style="width:14%;align-contents: center;">
                                <template #editor="{ data, field }">
                                    <p>{{data[field]}}</p>
                                </template>
                            </Column>
                        </DataTable>
                    </div>
                </div>
            </div>
            <Divider />
            <h2 class="text-label table-title" style="margin-top: 50px;">保壓</h2>
            <div class="row-content">
                <div id='保壓A'>
                    <div style="width:600px">
                        <DataTable :value="pressureA"   showGridlines
                            class="editable-cells-table" responsiveLayout="scroll">
                            <Column v-for="col of pressureAColumns" :field="col.field" :header="col.header" :key="col.field"
                                style="width:14%;align-contents: center;">
                                <template #editor="{ data, field }">
                                    <p>{{data[field]}}</p>
                                </template>
                            </Column>
                        </DataTable>
                    </div>
                </div>
                <div id='保壓B'>
                    <div style="width:600px">
                        <DataTable :value="pressureB"   showGridlines
                            class="editable-cells-table" responsiveLayout="scroll">
                            <Column v-for="col of pressureBColumns" :field="col.field" :header="col.header" :key="col.field"
                                style="width:14%;align-contents: center;">
                                <template #editor="{ data, field }">
                                    <p>{{data[field]}}</p>
                                </template>
                            </Column>
                        </DataTable>
                    </div>
                </div>
            </div>
            <Divider />
            <h2 class="text-label table-title">加料</h2>
            <div class="row-content">
                <div id='加料A'>
                    <div style="width:600px">
                        <DataTable :value="feedA"   showGridlines
                            class="editable-cells-table" responsiveLayout="scroll">
                            <Column v-for="col of feedAColumns" :field="col.field" :header="col.header" :key="col.field"
                                style="width:14%;align-contents: center;">
                                <template #editor="{ data, field }">
                                    <p>{{data[field]}}</p>
                                </template>
                            </Column>
                        </DataTable>
                    </div>
                </div>
                <div id='加料B'>
                    <div style="width:600px">
                        <DataTable :value="feedB"   showGridlines
                            class="editable-cells-table" responsiveLayout="scroll">
                            <Column v-for="col of feedBColumns" :field="col.field" :header="col.header" :key="col.field"
                                style="width:14%;align-contents: center;">
                                <template #editor="{ data, field }">
                                    <p>{{data[field]}}</p>
                                </template>
                            </Column>
                        </DataTable>
                    </div>
                </div>
            </div>
            <Divider />
            <div class="row-content">
                <div id='頂針設定'>
                    <h2 class="text-label" style="display: flex;justify-content: space-between;width:300px">
                        頂針設定
                        <div class="field-checkbox">
                            <Checkbox inputId="thimbleA" name="thimbleA" value="thimbleA" v-model="thimbleStatus"/>
                            <label for="thimbleA">A</label>
                        </div>
                        <div class="field-checkbox">
                            <Checkbox inputId="thimbleB" name="thimbleB" value="thimbleB" v-model="thimbleStatus" />
                            <label for="thimbleB">B</label>
                        </div>
                    </h2>
                    <div class="row-content" style="width:60%;text-align: center;">
                        <p><strong>拖模動作:</strong></p>
                        <div class="field-checkbox">
                            <Checkbox inputId="stop" name="stop" value="stop" v-model="thimbleCheck" />
                            <label for="stop">停留</label>
                        </div>
                        <div class="field-checkbox">
                            <Checkbox inputId="setting" name="setting" value="setting" v-model="thimbleCheck"/>
                            <label for="setting">定次</label>
                        </div>
                        <div class="field-checkbox">
                            <Checkbox inputId="shock" name="shock" value="shock" v-model="thimbleCheck"/>
                            <label for="shock">震動</label>
                        </div>
                    </div>
                    <div style="width:600px">
                        <DataTable :value="thimble"   showGridlines
                            class="editable-cells-table" responsiveLayout="scroll">
                            <ColumnGroup type="header">
                                <Row>
                                    <Column header="托模次" :colspan="1" />
                                    <Column header="後退 Retract" :colspan="2" />
                                    <Column header="前進 forward" :colspan="2" />
                                </Row>
                                <Row>
                                    <Column v-for="col of thimbleColumns" :field="col.field" :header="col.header" :key="col.field"
                                        style="width:14%;align-contents: center;" />
                                </Row>
                            </ColumnGroup>
                            <Column v-for="col of thimbleColumns" :field="col.field" :header="col.header" :key="col.field"
                                style="width:14%;align-contents: center;">
                                <template #editor="{ data, field }">
                                    <p>{{data[field]}}</p>
                                </template>
                            </Column>
                        </DataTable>
                    </div>
                </div>
                <div id='中子模式'>
                    <h2 class="text-label" style="display: flex;justify-content: space-between;width:300px">
                        中子模式
                        <div class="field-checkbox">
                            <Checkbox inputId="neutronA" name="neutronA" value="neutronA" v-model="neutronStatus"/>
                            <label for="neutronA">A</label>
                        </div>
                        <div class="field-checkbox">
                            <Checkbox inputId="neutronB" name="neutronB" value="neutronB" v-model="neutronStatus"/>
                            <label for="neutronB">B</label>
                        </div>
                    </h2>
                    <div style="width:600px">
                        <DataTable :value="neutron"   showGridlines
                            class="editable-cells-table" responsiveLayout="scroll">
                            <Column v-for="col of neutronColumns" :field="col.field" :header="col.header" :key="col.field"
                                style="width:14%;align-contents: center;">
                                <template #editor="{ data, field }">
                                    <p>{{data[field]}}</p>
                                </template>
                            </Column>
                        </DataTable>
                    </div>
                </div>
            </div>
            <Divider />
            <div class="input-page">
                <div class="p-fluid grid formgrid" style="text-align:center;padding-top:2em">
                    <div class="field col-12 md:col-4">
                        <div class="input-view">
                            <label class="text-label">轉模壓力±10：</label>
                            <p class="text-view">{{ value}}</p>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div class="input-view">
                            <label class="text-label">轉模壓力±10：</label>
                            <p class="text-view">{{ value}}</p>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div class="input-view">
                            <label class="text-label">轉模時機 :</label>
                            <p class="text-view">{{ value}}</p>
                        </div>
                    </div>
                </div>
                <Divider />
                <div style="margin-left:120px;margin-top: 50px;">
                    <h2 class="text-label">
                        設定
                    </h2>
                    <div style="width:80%">
                        <DataTable :value="setting"   showGridlines
                            class="editable-cells-table" responsiveLayout="scroll">
                            <Column v-for="col of settingColumns" :field="col.field" :header="col.header" :key="col.field">
                                <template #editor="{ data, field }">
                                    <p>{{data[field]}}</p>
                                </template>
                            </Column>
                        </DataTable>
                    </div>
                </div>
                <Divider />
                <div style="margin-left:120px;margin-top: 50px;">
                    <h2 class="text-label">
                        監視
                    </h2>
                    <div style="width:80%">
                        <DataTable :value="monitor"   showGridlines
                            class="editable-cells-table" responsiveLayout="scroll">
                            <Column v-for="col of monitorColumns" :field="col.field" :header="col.header" :key="col.field">
                                <template #editor="{ data, field }">
                                    <p>{{data[field]}}</p>
                                </template>
                            </Column>
                        </DataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { useToast } from "primevue/usetoast";
import { onBeforeMount, onMounted, reactive, ref, toRefs } from 'vue';
import { useStore } from 'vuex';
import MonitorService from "../api/monitorService";


const matchColumn = (num) => [`位置±${num}`, `速度±${num}`, `壓力±${num}`];

const getReduceRow = (arr) => {
    return arr.reduce((pre, curr) => {
        return { ...pre, [curr]: 0 };
    }, {});
};


const section = ["section1", "section2", "section3", "section4", "section5"]
const lockRow = ["hight_speed", 'low_speed', 'low_pressure', 'hight_pressure'];
const openRow = ['finish', "low_speed", "medium speed", "height_speed", "slow_speed"];
const neutronRow = ['in1', 'in2', 'out1', 'out2'];
const thimbleRow = ['back2', 'back1', 'enter1', 'enter2'];
const settingRow = ['low_pressure_protect', 'hold_pressure_switch', 'shoot_time', 'cooling_time', 'feed_time', 'back_pressure'];
const monitorRow = ['storage_screw_position', 'secondary_switch_position', 'injection_point', 'middle_time', 'maximum_pressure'];

const nozzleData = [
    {
        "nozzle1": 0,
        "nozzle2": 0,
        "nozzle3": 0,
        "nozzle4": 0,
        "nozzle5": 0,
        "oil-temperate": 0
    },
];


export default {
    setup() {
        onBeforeMount(() => {
            store.dispatch('setPath', "monitor");
        });
        onMounted(async () => {
            // const { data: members } = await service.value.getMemberData(apart);
            // memberData.value = members.map(ele => {
            //     return {
            //         ...ele,
            //         show: `${ele.name}(${ele.id})`
            //     }
            // });
            const lock_mold = matchColumn(15).map(m => {
                return {
                    ...getReduceRow(lockRow),
                    id: m,
                }
            });
            const open_mold = matchColumn(15).map(m => {
                return {
                    ...getReduceRow(openRow),
                    id: m,
                };
            });
            const shoot_data = matchColumn(10).map(m => {
                return {
                    ...getReduceRow(section),
                    id: m
                }
            });
            const pressure = matchColumn(3).map(m => {
                return {
                    ...getReduceRow(section),
                    id: m
                }
            });
            const feed = matchColumn(10).map(m => {
                return {
                    ...getReduceRow([...section.slice(0, 4), 'back']),
                    id: m
                }
            });
            const neutron = [`位置±3`, '時間±3', `速度±10`, `壓力±10`].map(m => {
                return {
                    ...getReduceRow(neutronRow),
                    id: m
                };
            });
            const thimble = matchColumn(10).map(m => {
                return {
                    ...getReduceRow(thimbleRow),
                    id: m
                };
            });
            const heatRoad = Array(12).fill('').map((_, index) => index).reduce((pre, curr) => {
                return {
                    ...pre,
                    ["T" + (curr + 1)]: 0
                }
            }, {});
            const setting = ["A", "B"].map(m => {
                return {
                    ...getReduceRow(settingRow),
                    id: m
                }
            });
            const monitor = ["A", "B"].map(m => {
                return {
                    ...getReduceRow(monitorRow),
                    id: m
                }
            });
            dataset.nozzle = nozzleData;
            dataset.moldTemp = [
                { 'id': 'A', 'male': 0, 'female': 0 },
                { 'id': 'B', 'male': 0, 'female': 0 },];
            dataset.heatRoad1 = [heatRoad];
            dataset.heatRoad2 = [heatRoad];
            dataset.openMold = open_mold;
            dataset.lockMold = lock_mold;
            dataset.shootA = shoot_data;
            dataset.shootB = shoot_data;
            dataset.pressureA = pressure;
            dataset.pressureB = pressure;
            dataset.feedA = feed;
            dataset.feedB = feed;
            dataset.neutron = neutron;
            dataset.thimble = thimble;
            dataset.setting = setting;
            dataset.monitor = monitor;
        });
        const service = ref(new MonitorService());
        const store = useStore();
        const toast = useToast();
        const value = ref();


        const thimbleCheck = ref();//頂針托模動作
        const thimbleStatus = ref();//頂針A或B
        const neutronStatus = ref();//中子A或B


        const date = ref({
            start_time: "",
            end_time: ""
        });

        const dataset = reactive({
            nozzle: [],//噴嘴
            bankTemp: [],//烘料溫度
            moldTemp: [],//模具溫度
            heatRoad1: [],//熱流道1
            heatRoad2: [],//熱流道2
            lockMold: [],//鎖模
            openMold: [],//開模
            shootA: [],//射出A
            shootB: [],//射出B
            pressureA: [],//保壓A
            pressureB: [],//保壓B
            feedA: [],//加料A
            feedB: [],//加料B
            neutron: [],//中子
            thimble: [], //頂針
            setting: [],
            monitor: []
        });

        const memberData = ref([]);

        const nozzle1Columns = ref([
            { field: 'nozzle1', header: '噴嘴一段' },
            { field: 'nozzle2', header: '噴嘴二段' },
            { field: 'nozzle3', header: '噴嘴三段' },
            { field: 'nozzle4', header: '噴嘴四段' },
            { field: 'nozzle5', header: '噴嘴五段' },
            { field: 'oil-temperate', header: '油溫℃ 土10' },
        ]);

        const tempColumns = ref([
            { field: 'T1', header: 'T1' },
            { field: 'T2', header: 'T2' },
            { field: 'T3', header: 'T3' },
            { field: 'T4', header: 'T4' },
            { field: 'T5', header: 'T5' },
            { field: 'T6', header: 'T6' },
            { field: 'T7', header: 'T7' },
            { field: 'T8', header: 'T8' },
            { field: 'T9', header: 'T9' },
            { field: 'T10', header: 'T10' },
            { field: 'T11', header: 'T11' },
            { field: 'T12', header: 'T12' },
        ])
        const modelColumns = ref([
            { field: 'id', header: '' },
            { field: 'male', header: '公模' },
            { field: 'female', header: '母模' },
        ]);
        const lockColumns = ref([
            { field: "id", header: '' },
            { field: "hight_speed", header: '高速' },
            { field: 'low_speed', header: '低速' },
            { field: 'low_pressure', header: '低壓' },
            { field: 'hight_pressure', header: '高壓' },
        ]);

        const openColumns = ref([
            { field: "id", header: '' },
            { field: 'finish', header: '開模完' },
            { field: 'low_speed', header: '低速' },
            { field: "medium speed", header: '中速' },
            { field: "height_speed", header: '高速' },
            { field: "slow_speed", header: '慢速' },
        ]);

        const shootAColumns = ref([
            { field: "id", header: 'A' },
            { field: "section1", header: '一段' },
            { field: 'section2', header: '二段' },
            { field: 'section3', header: '三段' },
            { field: 'section4', header: '四段' },
            { field: 'section5', header: '五段' },
        ]);
        const shootBColumns = ref([
            { field: "id", header: 'B' },
            { field: "section1", header: '一段' },
            { field: 'section2', header: '二段' },
            { field: 'section3', header: '三段' },
            { field: 'section4', header: '四段' },
            { field: 'section5', header: '五段' },
        ]);
        const pressureAColumns = ref([
            { field: "id", header: 'A' },
            { field: "section1", header: '一段' },
            { field: 'section2', header: '二段' },
            { field: 'section3', header: '三段' },
            { field: 'section4', header: '四段' },
            { field: 'section5', header: '五段' },
        ]);
        const pressureBColumns = ref([
            { field: "id", header: 'B' },
            { field: "section1", header: '一段' },
            { field: 'section2', header: '二段' },
            { field: 'section3', header: '三段' },
            { field: 'section4', header: '四段' },
            { field: 'section5', header: '五段' },
        ]);

        const feedAColumns = ref([
            { field: "id", header: 'A' },
            { field: "section1", header: '一段' },
            { field: 'section2', header: '二段' },
            { field: 'section3', header: '三段' },
            { field: 'section4', header: '四段' },
            { field: 'back', header: '後鬆退' },
        ]);
        const feedBColumns = ref([
            { field: "id", header: 'B' },
            { field: "section1", header: '一段' },
            { field: 'section2', header: '二段' },
            { field: 'section3', header: '三段' },
            { field: 'section4', header: '四段' },
            { field: 'back', header: '後鬆退' },
        ]);

        const neutronColumns = ref([
            { field: "id", header: '' },
            { field: "in1", header: '中子入1' },
            { field: 'in2', header: '中子入2' },
            { field: 'out1', header: '中子出1' },
            { field: 'out2', header: '中子出2' },
        ]);

        const thimbleColumns = ref([
            { field: "id", header: '' },
            { field: "back2", header: '二' },
            { field: 'back1', header: '一' },
            { field: 'enter1', header: '一' },
            { field: 'enter2', header: '二' },
        ]);

        const settingColumns = ref([
            { field: "id", header: '' },
            { field: 'low_pressure_protect', header: '低壓保護時間(sec)±1' },
            { field: 'hold_pressure_switch', header: '保壓切換時間(mm)±5' },
            { field: 'shoot_time', header: '射出時間(sec)±2' },
            { field: 'cooling_time', header: '冷卻時間(sec)±3' },
            { field: 'feed_time', header: '加料時間(sec)±2' },
            { field: 'back_pressure', header: '背壓(kg/cm2)±5' },
        ]);

        const monitorColumns = ref([
            { field: "id", header: '' },
            { field: 'storage_screw_position', header: '儲料完螺杆位置±3' },
            { field: 'secondary_switch_position', header: '二次切換位置(mm)±3' },
            { field: 'injection_point', header: '射膠終點 (mm)±5' },
            { field: 'middle_time', header: '中間時間(sec)±2' },
            { field: 'maximum_pressure', header: '最大壓力值' },
        ]);


        const state = ref({
            member: ''
        });

        const isInteger = (val) => {
            return parseFloat(val) ? parseFloat(val) : false
        };


        const onCellEditComplete = (event) => {
            let { data, newValue, field } = event;
            console.log(data, newValue, field)
            if (isInteger(newValue)) {
                data[field] = newValue;
            };
        };

        const onChange = (e) => {
            thimbleCheck.value = [e];
        };

        const handleSubmit = () => {
            console.log(dataset);
        };

        return {
            ...toRefs(dataset),
            state, memberData,
            nozzle1Columns, modelColumns, tempColumns, lockColumns, openColumns,
            shootAColumns, shootBColumns, pressureAColumns, pressureBColumns, feedAColumns, feedBColumns, neutronColumns, thimbleColumns, thimbleCheck,
            value, thimbleStatus, neutronStatus, settingColumns, monitorColumns,date,
            onCellEditComplete, onChange, handleSubmit
        };
    }
};

</script>

<style lang="scss" scoped>
.contain {
    margin: auto;
    width: 50%;
    height: 80%;
    margin-bottom: 200px;
}

.text-label {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 0.5em;
}

.input-view {
    display: flex;
    justify-content: center;
    align-items: center;

}

.text-view {
    width: 200px;
}

#dropdown {
    width: 12em;
    margin-top: 0em
}

.input-page {
    min-height: 80vh;
    margin-left: 1em;
    background-color: #D5D8DC;
}

.row-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

::v-deep(.editable-cells-table) {
    .p-datatable-thead {
        th {
            background-color: #A2D9CE;
        }

    }
}

.input-box {
    width: 150px
}
</style>