<template>
    <div class="contain" style="font-size:2em;width:95%">
        <Toast position="top-center" group="tl" />
        <div>
            <h3 class="title">成型即時監控參數</h3>
            <DataTable :value="params" showGridlines scrollHeight="450px" :scrollable="true" style="width:98%;height:450px;margin-top: 30px;">
                <Column field="molding" header="Molding" alignFrozen="center" style="max-width : 200px;align: center;"></Column>
                <Column field="injection_filling_time" header="射出充填時間/s" alignFrozen="center" style="max-width : 12%;"></Column>
                <Column field="vp_switching" header="V-P轉換位置/mm" alignFrozen="center" style="max-width: 12%;"></Column>
                <Column field="injection_end_position" header="射出結束位置/mm" alignFrozen="center" style="max-width: 12%;"></Column>
                <Column field="injection_pressure" header="射出峰壓/Mpa" alignFrozen="center" style="max-width: 12%;"></Column>
                <Column field="plasticizing_time" header="可塑化時間/s" alignFrozen="center" style="max-width: 12%;"></Column>
                <Column field="molding_cycle" header="成型週期/s" alignFrozen="center" style="max-width: 12%;"></Column>
                <Column field="record_time" header="記錄時間" alignFrozen="center"></Column>
            </DataTable>
        </div>  
    </div>
</template>

<script>
//監控參數頁面
import { useToast } from "primevue/usetoast";
import { onBeforeMount, onMounted, ref } from 'vue';
import { useStore } from 'vuex';

export default {
    setup() {
        onBeforeMount(() => {
            store.dispatch('setPath', "monitor");
        });
        onMounted(async () => { 
            try { 
                //api 資料 set params as object[]
            } catch (err) {
                 toast.add({ severity: 'error', summary: 'Error Message', detail: err.message, group: 'tl', life: 3000 });
                return
            };
        });
        
        const store = useStore();
        const toast = useToast();
        const params = ref([
            {
                'molding': 0,
                'injection_filling_time': 0,
                'vp_switching': 0,
                'injection_end_position': 0,
                'injection_pressure': 0,
                'plasticizing_time': 0,
                'molding_cycle': 0,
                'record_time': 0
            }
        ]);
        return {
            params
        };
    }
}

</script>

<style lang="scss" scoped>
.contain {
    margin: auto;
    width: 50%;
    height: 80%;
    margin-bottom: 200px;
}
.title {
    font-size: 1.5em;
    text-align: start;
    color: #008B8B;
    font-weight: bold;
}
::v-deep(.p-datatable) {
    .p-datatable-thead {
        th {
            background-color: rgba(200, 230, 234, 1);
        }
    }
}
</style>