<template>
  <div>
        <TopBar fixed="true"/>
       
        <div class="layout-main-container">
            <!-- <Menu v-if="IsAuth" :model="items" class="p-menu" style="width:9%;position:fixed;top:12%;height:500px"/> -->
            <!-- <Menubar :model="items" v-if="IsAuth" style="width:45%;position:fixed;top:10%;z-index:999"/> -->
            <div class="layout-main"> 
                <router-view />
            </div>
        </div>
	</div>
</template>
<script>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
import TopBar from './components/TopBar.vue';
import {useRouter,useRoute} from 'vue-router';
import {onMounted,computed,ref} from 'vue';
import {useStore} from 'vuex';

export default{
    setup(){
        const router = useRouter();
        const store = useStore()

        const path = computed(()=>store.getters.currentPath)

        onMounted(()=>{
            let auth = localStorage.getItem('fox_link_token');
            if(!auth){
                router.replace('/login');
            }else{
                store.dispatch('setAuth', true);
            }
        });

    },components:{
        TopBar
    }
}
</script>

<style  lang="scss" scoped>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.layout-main-container{
    margin-top: 6em;
    width: 100%;
}
body{
     background-color: #F1F1F1;
}

</style>

