<template>
    <div class="container">
        <Toast position="top-center" group="tl" />
        <h1 class='title' style="margin-top:2em">模具更換記錄</h1>

        <div class="input-page">
            <div style="width:95%;margin:0 auto">
                <div class="p-fluid grid formgrid" style="text-align:center;padding-top:2em">
                    <div class="field col-12 md:col-4">
                        <div class="input-view">
                            <label class="text-label">登打人員:</label>
                            <Dropdown id="dropdown" v-model="state.member" :options="memberData" optionLabel="show"
                                optionValue="show" class="form-v" />
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div class="input-view">
                            <label class="text-label">成型機台:</label>
                            <Dropdown id="dropdown" v-model="state.machine" :options="machineList" optionLabel="id"
                                optionValue="id" class="form-v" />
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div class="input-view">
                            <label class="text-label">更換人員:</label>
                            <Dropdown id="dropdown" v-model="state.changers" :options="moldMemberData"
                                optionLabel="show" optionValue="show" class="form-v" />
                        </div>
                    </div>
                </div>
                <div class="p-fluid grid formgrid" style="text-align:center;padding-top:1em">
                    <div class="field col-12 md:col-4">
                        <div class="input-view">
                            <label class="text-label">舊模具編號:</label>
                            <Dropdown id="dropdown" editable="true" v-model="state.preMoldNumber" :options="moldList"
                                optionLabel="id" optionValue="id" class="form-v" />
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div class="input-view">
                            <label class="text-label">新模具編號:</label>
                            <Dropdown id="dropdown" editable="true" v-model="state.newMoldNumber" :options="moldList"
                                optionLabel="id" optionValue="id" class="form-v" />
                        </div>
                    </div>
                </div>
                <div class="p-fluid grid formgrid" style="text-align:center;padding-top:1em">
                    <div class="field col-12 md:col-4">
                        <div class="input-view">
                            <label class="text-label">起始時間:</label>
                            <Calendar id="icon" v-model="state.startTime" :showIcon="true" :showTime="true"
                                dateFormat="yy/mm/dd" style="width:50%" />
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div class="input-view">
                            <label class="text-label">結束時間:</label>
                            <Calendar id="icon" v-model="state.endTime" :showIcon="true" :showTime="true"
                                dateFormat="yy/mm/dd" style="width:50%" />

                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div style="text-align:center">
                            <Button label="新增一筆記錄" class="p-button-raised" style="width:8rem;" @click="addRecord" />
                        </div>
                    </div>
                </div>
                <div class="slot-table-contain" style="display:flex;align-items: flex-end;">
                    <DataTable
                        style="width:60%;margin:auto;margin-top:1.5em;text-align:center"
                        :value="formData" editMode="cell"
                        @cell-edit-complete="onCellEditComplete"
                        class="editable-cells-table " responsiveLayout="scroll"
                        showGridlines>
                        <Column v-for="col of columns" :field="col.field" :header="col.header" :key="col.field" style="width:100px">
                            <template #editor="{ data, field }">
                                <Dropdown v-model="data[field]" :options="moldCavityOptions" style="width:100px" />
                            </template>
                        </Column>
                    </DataTable>
                    <Button icon="pi pi-replay" class="p-button-warning" label="重設模穴" @click="resetOptions" style="height:40px"/>
                   
                </div>
            </div>
            <div style="margin-top:3em">
                <div style="width:90%;margin:auto">
                    <DataTable class="p-datatable-sm p-datatable-water" :value="tableState" :scrollable="true"
                        showGridlines scrollHeight="flex">
                        <Column field="machine" header="機台"></Column>
                        <Column field="preMoldNumber" header="舊模具"></Column>
                        <Column field="newMoldNumber" header="新模具"></Column>
                        <Column field="slot1" header="穴1" style="max-width: 80px;"></Column>
                        <Column field="slot2" header="穴2" style="max-width: 80px;"></Column>
                        <Column field="slot3" header="穴3" style="max-width: 80px;"></Column>
                        <Column field="slot4" header="穴4" style="max-width: 80px;"></Column>
                        <Column field="startTime" header="開始時間"></Column>
                        <Column field="endTime" header="結束時間"></Column>
                        <Column field="changers" header="更換人員"></Column>
                        <Column field="member" header="登打人員"></Column>
                        <Column header="刪除">
                            <template #body="slotProps">
                                <Button icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-sm"
                                    @click="handleDelete(slotProps.data)" />
                            </template>
                        </Column>
                    </DataTable>
                </div>
                <div style="text-align:center">
                    <Button label="送出" class="p-button-raised" style="width:6rem;margin-top:2.5%;margin-bottom:2em"
                        @click="sendData" />
                </div>
            </div>
        </div>
        <h1 class='title' style="margin-top:2em">模具更換記錄查詢</h1>

        <div class="input-page">
            <div style="width:95%;margin:0 auto">
                <div class="p-fluid grid formgrid" style="text-align:center;padding-top:2em">

                    <div class="field col-12 md:col-4">
                        <div class="input-view">
                            <label class="text-label">成型機台:</label>
                            <Dropdown id="dropdown" v-model="searchState.machine" :options="machineList"
                                optionLabel="id" optionValue="id" class="form-v" />
                        </div>
                    </div>
                </div>
                <div class="p-fluid grid formgrid" style="text-align:center;padding-top:1em">
                    <div class="field col-12 md:col-4">
                        <div class="input-view">
                            <label class="text-label">起始時間:</label>
                            <Calendar id="icon" v-model="searchState.from" :showIcon="true" :showTime="true"
                                dateFormat="yy/mm/dd" style="width:50%" />
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div class="input-view">
                            <label class="text-label">結束時間:</label>
                            <Calendar id="icon" v-model="searchState.to" :showIcon="true" :showTime="true"
                                dateFormat="yy/mm/dd" style="width:50%" />

                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div style="display:flex;justify-content:space-around">
                            <div style="text-align:center">
                                <Button label="查詢" class="p-button-raised" style="width:6rem;" @click="handleSearch" />
                            </div>
                            <div style="text-align:center">
                                <Button label="匯出" class="p-button-success" style="width:6rem;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top:3em">
                <div style="width:85%;margin:auto">
                    <DataTable class="p-datatable-sm p-datatable-water" :value="searchTable" :scrollable="true"
                        showGridlines scrollHeight="flex">
                        <Column field="machine" header="機台"></Column>
                        <Column field="preMoldNumber" header="舊模具"></Column>
                        <Column field="newMoldNumber" header="新模具"></Column>
                        <Column field="slot1" header="穴1" style="max-width: 80px;"></Column>
                        <Column field="slot2" header="穴2" style="max-width: 80px;"></Column>
                        <Column field="slot3" header="穴3" style="max-width: 80px;"></Column>
                        <Column field="slot4" header="穴4" style="max-width: 80px;"></Column>
                        <Column field="startTime" header="開始時間"></Column>
                        <Column field="endTime" header="結束時間"></Column>
                        <Column field="changers" header="更換人員"></Column>
                        <Column field="member" header="人員"></Column>
                        <Column field="recordTime" header="記錄時間"></Column>
                    </DataTable>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { reactive, toRefs ,ref,onBeforeMount, onMounted} from 'vue'
import moment from "moment";
import {useStore} from 'vuex';
import { useToast } from "primevue/usetoast";
import CodeService from "../asset/codeService";
import MoldService from "../api/moldService";
const initState = {
    uid: null, member: "", machine: "", changers: "", preMoldNumber: "", newMoldNumber: "", startTime: "", endTime: "",
    slot1: "", slot2: "", slot3: "", slot4: "",
};
const moldCavity = ["Z3", 'Z4', 'Z5', 'Z6'];
export default {
    setup () {
        onBeforeMount(()=>{
            store.dispatch('setPath', "mold-page")
        });
         onMounted(async()=>{
            const state =JSON.parse(localStorage.getItem("fox_link_token"));
            const {apart} = state;
            try{
                const { data:members } =await service.value.getMemberData(apart);
                memberData.value = members.map(ele=>{
                    return{
                        ...ele,
                        show:`${ele.name}(${ele.id})`
                    }
                });

                const { data:machines } = await service.value.getMachine();
                machineList.value = machines.map(ele => { return { id: ele } });
                
                const { data: moldMembers } = await service.value.getMoldMember2();
                moldMemberData.value = moldMembers.map(ele => {
                    return {
                        ...ele,
                        show: `${ele.name}(${ele.id})`
                    }
                });
                const { data: molds } = await service.value.getOldMold();
                moldList.value = molds.map(ele=>{return {id:ele}});
                state.value.preMoldNumber = molds[0];
                
            }catch(err){
                console.log(err.message);
            }
         });
        const moldCavityOptions = ref(moldCavity);
        const store = useStore();
        const toast = useToast();
        const state = ref({...initState});
        const service = ref(new MoldService());
        const searchState = ref({
            machine:"",from:"",to:""
        });
        const tableState =ref([]);
        const searchTable =ref([]);
        const memberData = ref([]);
        const moldMemberData = ref([]);
        const formData = ref([
            { unit: "位置", slot1: "", slot2: "", slot3: "", slot4: "" }
        ]);
        const columns = ref([
            { field: 'unit', header: '模穴號' },
            { field: 'slot1', header: '1' },
            { field: 'slot2', header: '2' },
            { field: 'slot3', header: '3' },
            { field: 'slot4', header: '4' },
          
        ]);
        const moldList = ref([]);
        const machineList =ref([]);
        const formatTime = (timeString) => moment(timeString).format("YYYY/MM/DD HH:mm");
        function onCellEditComplete(event) {
            const { data, newValue, field } = event;
            switch (field) {
                case 'slot1':
                case 'slot2':
                case 'slot3':
                case 'slot4':
                    data[field] = newValue;
                    let filter = moldCavityOptions.value.filter(ele=>ele!==newValue)
                    moldCavityOptions.value = filter;
                    return;
                default:
                    break;
            }
        };
        /**
         * * 新增紀錄
         */
        function addRecord(){
            const uid = Date.now();
            const target = state.value;
            const data = formData.value;
            const { slot1, slot2, slot3, slot4 } = data[0];
            if(Date.parse(target.endTime) < Date.parse(target.startTime)){
                toast.add({severity: 'warn', summary: 'Warn Message', detail: `結束時間不可小於起始時間`, group: 'tl', life: 3000});
                return; 
            };
            const updatedData =  {
                ...target,
                uid:uid,
                startTime:formatTime(target.startTime),
                endTime: formatTime(target.endTime),
                slot1,slot2,slot3,slot4
            };
            for(let item of Object.keys(updatedData)){
                if(!updatedData[item].toString()){
                    toast.add({severity: 'warn', summary: 'Warn Message', detail: `請填寫 ${CodeService[item]}`, group: 'tl', life: 3000});
                    return
                }; 
            };
            resetOptions();
            state.value ={ ...initState};
            tableState.value = [...tableState.value, updatedData];
        };
        function handleDelete(prod){
            const target = prod;
            tableState.value = tableState.value.filter(data=>data.uid!==target.uid);
        };
        function resetOptions() {
            moldCavityOptions.value = moldCavity;
            formData.value = [{ unit: "位置", slot1: "", slot2: "", slot3: "", slot4: "" }];
        }
        async function sendData(){
            const body ={data:tableState.value};
            try{
                const {success,message} = await service.value.postReplaceData(body);
                if(!success){
                    throw new Error(message);
                };
                toast.add({
                    severity: 'success', summary: 'Success Message', detail: `新增成功`, group: 'tl', life: 3000
                    });
                tableState.value = [];
                return
            }catch(err){
                console.log(err.message)
                return toast.add({
                    severity: 'error', summary: 'Error Message', detail: err.message, group: 'tl', life: 3000
                });
            };
        };
        async function handleSearch(){
            const {machine,from, to } = searchState.value;
            if(!machine){
                return  toast.add({
                    severity: 'warn', summary: 'Warn Message', detail: `請填寫 ${CodeService["machine"]}`, group: 'tl', life: 3000
                    });
            }
            if(!from||!to){
                return  toast.add({
                    severity: 'warn', summary: 'Warn Message', detail: `請填寫 ${CodeService[from?"to":"from"]}`, group: 'tl', life: 3000
                    });
            };
            const timeData = {
                from:moment(from).format("YYYY/MM/DD HH:mm"),
                to:moment(to).format("YYYY/MM/DD HH:mm")
            };
             let body ={
                machine:machine,
                ...timeData
            };
            try{
                const data = await service.value.postSearchReplaceMold(body);
                if(!data.data){
                    toast.add({
                        severity: 'warn', summary: 'Warn Message', detail: `沒有結果`, group: 'tl', life: 3000
                    });
                    searchTable.value = [];
                };
                searchTable.value = data.data;
            }catch(err){
                toast.add({
                    severity: 'error', summary: 'Error Message', detail: err.message, group: 'tl', life: 3000
                });
            }
        };

      
        return {
            state, tableState, searchState, memberData, machineList, moldList, searchTable, moldMemberData, columns, formData, moldCavityOptions,
            addRecord, handleDelete, handleSearch, sendData, onCellEditComplete, resetOptions
        }
    }
}
</script>

<style lang="scss" scoped>
.container{
    color: #555555;
    margin:0 auto;
    width: 100%;
    height: 100%;
    margin-bottom: 2em;
}
.title{
    font-size:2em;
    text-align: start;
    color:#008B8B;
    font-weight: bold;
}
.input-page{
    min-height:80vh;
    margin-top: 2.5em;
    margin-left: 1em;
    background-color:#A9A9A9;
}
.text-label{
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 0.5em;
}
.select{
    text-align:right;
    padding-top:1em ;
}
#dropdown{
    width: 12em;
    margin-top:1em
}
.view-title{
     text-align: start;
     font-weight: bold;
     padding-left: 2em;
}
.data-point-input{
    height:40rem;
    padding:2px;
}
.view-table{
    margin: 0 auto;
    margin-top:3rem;
    width: 85%;
}
.button-area{
    padding-left:87%;
    padding-top:4em;   
}
.input-view{
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.form-v{
    margin-bottom:1em
}
</style>