<template>
    <div class="container">
        <Toast position="top-center" group="tl" />
        <h1 class='title' style="margin-top:2em">模具維修記錄</h1>

        <div class="input-page">
            <div style="width:95%;margin:0 auto">
                <div class="p-fluid grid formgrid" style="text-align:center;padding-top:2em">
                    <div class="field col-12 md:col-4">
                        <div class="input-view">
                            <label class="text-label">登打人員:</label>
                            <Dropdown id="dropdown" v-model="state.user" :options="memberData" optionLabel="show"
                                optionValue="show" class="form-v" />
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div class="input-view">
                            <label class="text-label">成型機台:</label>
                            <Dropdown id="dropdown" v-model="state.eqno" :options="machineList" optionLabel="id"
                                optionValue="id" class="form-v" />
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div class="input-view">
                            <label class="text-label">維修人員:</label>
                            <Dropdown id="dropdown" v-model="state.repair_man" :options="moldMemberData"
                                optionLabel="show" optionValue="show" class="form-v" />
                        </div>
                    </div>
                </div>
                <div class="p-fluid grid formgrid" style="text-align:center;padding-top:1em">
                    <div class="field col-12 md:col-4">
                        <div class="input-view">
                            <label class="text-label">起始時間:</label>
                            <Calendar id="icon" v-model="state.start_date" :showIcon="true" :showTime="true"
                                dateFormat="yy/mm/dd" style="width:50%" />
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div class="input-view">
                            <label class="text-label">結束時間:</label>
                            <Calendar id="icon" v-model="state.end_date" :showIcon="true" :showTime="true"
                                dateFormat="yy/mm/dd" style="width:50%" />
                        </div>     
                    </div>
                    <div class="field col-12 md:col-4">
                        <div class="input-view">
                            <label class="text-label">模具編號:</label>
                            <InputText style="width:200px" v-model="state.moldNumber"/>
                        </div>
                    
                    </div>

                </div>
                <div class="p-fluid grid formgrid" style="text-align:center;padding-top:1em">
                    <div class="field col-12 md:col-8">
                        <div class="input-view">
                            <label class="text-label">維修內容:</label>
                            <Textarea v-model="state.description" rows="2" cols="10" style="width:75%;height:45px;" />
                        </div>
                    </div>

                    <div class="field col-12 md:col-4">
                        <div style="text-align:center">
                            <Button label="新增一筆記錄" class="p-button-raised" style="width:8rem;" @click="addRecord" />
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top:3em">
                <div style="width:85%;margin:auto">
                    <DataTable class="p-datatable-sm p-datatable-water" :value="tableState" :scrollable="true"
                        showGridlines scrollHeight="flex">
                        <Column field="eqno" header="機台" style="max-width: 5rem;"></Column>
                        <Column field="moldNumber" header="模具編號" style="max-width: 10rem;"></Column>
                        <Column field="start_date" header="開始時間" style="max-width: 10rem;"></Column>
                        <Column field="end_date" header="結束時間" style="max-width: 10rem;"></Column>
                        <Column field="repair_man" header="維修人員" style="max-width: 8rem;"></Column>
                        <Column field="user" header="登打人員" style="max-width: 8rem;"></Column>
                        <Column field="description" header="維修內容" style="max-width: 28rem;"></Column>
                        <Column header="刪除" style="max-width: 5rem;">
                            <template #body="slotProps">
                                <Button icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-sm"
                                    @click="handleDelete(slotProps.data)" />
                            </template>
                        </Column>
                    </DataTable>
                </div>
            </div>
            <div style="text-align:center">
                <Button label="送出" class="p-button-raised" style="width:6rem;margin-top:2.5%;margin-bottom:2em"
                    @click="sendData" />
            </div>
        </div>
        <h1 class='title' style="margin-top:2em">模具維修記錄查詢</h1>

        <div class="input-page">
            <div style="width:95%;margin:0 auto">
                <div class="p-fluid grid formgrid" style="text-align:center;padding-top:2em">

                    <div class="field col-12 md:col-4">
                        <div class="input-view">
                            <label class="text-label">成型機台:</label>
                            <Dropdown id="dropdown" v-model="searchState.machine" :options="machineList"
                                optionLabel="id" optionValue="id" class="form-v" />
                        </div>
                    </div>
                </div>
                <div class="p-fluid grid formgrid" style="text-align:center;padding-top:1em">
                    <div class="field col-12 md:col-4">
                        <div class="input-view">
                            <label class="text-label">起始時間:</label>
                            <Calendar id="icon" v-model="searchState.from" :showIcon="true" :showTime="true"
                                dateFormat="yy/mm/dd" style="width:50%" />
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div class="input-view">
                            <label class="text-label">結束時間:</label>
                            <Calendar id="icon" v-model="searchState.to" :showIcon="true" :showTime="true"
                                dateFormat="yy/mm/dd" style="width:50%" />

                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div style="display:flex;justify-content:space-around">
                            <div style="text-align:center">
                                <Button label="查詢" class="p-button-raised" style="width:6rem;" @click="handleSearch" />
                            </div>
                            <div style="text-align:center">
                                <Button label="匯出" class="p-button-success" style="width:6rem;" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div style="margin-top:3em">
                <div style="width:85%;margin:auto">
                    <DataTable class="p-datatable-sm p-datatable-water" :value="searchTable" :scrollable="true"
                        showGridlines scrollHeight="flex">
                        <Column field="eqno" header="機台" style="max-width: 5rem;"></Column>
                        <Column field="moldNumber" header="模具編號" style="max-width: 10rem;"></Column>
                        <Column field="start_date" header="開始時間" style="max-width: 10rem;"></Column>
                        <Column field="end_date" header="結束時間" style="max-width: 10rem;"></Column>
                        <Column field="user" header="登打人員" style="max-width: 8rem;"></Column>
                        <Column field="repair_man" header="維修人員" style="max-width: 8rem;"></Column>
                        <Column field="description" header="維修內容"></Column>
                        <Column field="input_date" header="記錄時間" style="max-width: 10rem;"></Column>
                    </DataTable>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { reactive, toRefs,ref,onBeforeMount, onMounted } from 'vue'
import moment from "moment";
import {useStore} from 'vuex';
import { useToast } from "primevue/usetoast";
import CodeService from "../asset/codeService";
import MoldService from "../api/moldService";
const initState={
    eqno: "",
    start_date: "",
    end_date: "",
    repair_man: "",
    user: "",
    description: "",
     moldNumber: ""
};
export default {
    setup () {
        onBeforeMount(()=>{
            store.dispatch('setPath', "mold-page");
        });
        onMounted(async()=>{
           const state =JSON.parse(localStorage.getItem("fox_link_token"));
            const {apart} = state;
            try{
                const { data:members } =await service.value.getMemberData(apart);
                memberData.value = members.map(ele=>{
                    return{
                        ...ele,
                        show:`${ele.name}(${ele.id})`
                    }
                });

                const { data:machines }=await service.value.getMachine();
                machineList.value = machines.map(ele => { return { id: ele } });
                const { data: moldMembers } = await service.value.getMoldMember1();
                moldMemberData.value = moldMembers.map(ele => {
                    return {
                        ...ele,
                        show: `${ele.name}(${ele.id})`
                    }
                })

            }catch(err){
                console.log(err.message);
            }
        })
        const service =ref(new MoldService());
        const store = useStore();
        const toast = useToast();
        const state = ref({...initState});
        const searchState = ref({
            machine:"",from:"",to:""
        });
        const moldMemberData = ref([]);
        const tableState =ref([]);
        const searchTable = ref([]);
        const memberData =ref([]);
        const machineList =ref([]);
    
        const formatTime = (timeString)=>moment(timeString).format("YYYY/MM/DD HH:mm");

        const addRecord=()=>{
            const uid = Date.now();
            const target = state.value;
            if(Date.parse(target.end_date) < Date.parse(target.start_date)){
                toast.add({severity: 'warn', summary: 'Warn Message', detail: `結束時間不可小於起始時間`, group: 'tl', life: 3000});
                return; 
            };
            const updatedData = {
                ...target,
                uid:uid,
                start_date:formatTime(target.start_date),
                end_date:formatTime(target.end_date),
                
            };
              for(let item of Object.keys(updatedData)){
                if(!updatedData[item].toString()){
                    toast.add({severity: 'warn', summary: 'Warn Message', detail: `請填寫 ${CodeService[item]}`, group: 'tl', life: 3000});
                    return
                }   
            };
            state.value ={ ...initState};
            tableState.value =[...tableState.value,updatedData];
        };
        const handleDelete=(prod)=>{
            const target = prod;
            tableState.value = tableState.value.filter(data=>data.uid!==target.uid);
        };

        async function sendData(){
            try{
                if(tableState.value.length===0){
                    toast.add({
                    severity: 'warn', summary: 'Warn Message', detail: `未新增任何紀錄`, group: 'tl', life: 3000
                    });
                    return;
                };
                const body = {
                    data:tableState.value
                };
                const {success,message}= await service.value.postRepairData(body);
           
                if(!success){
                    throw new Error(message);
                };
                toast.add({
                    severity: 'success', summary: 'Success Message', detail: `新增成功`, group: 'tl', life: 3000
                    });
                tableState.value = [];
                return
            }catch(err){
                return  toast.add({
                    severity: 'error', summary: 'Error Message', detail: err.message, group: 'tl', life: 3000
                });
            }
        };
        async function handleSearch(){
            const {machine,from, to } = searchState.value;
            if(!machine){
                return  toast.add({
                    severity: 'warn', summary: 'Warn Message', detail: `請填寫 ${CodeService["machine"]}`, group: 'tl', life: 3000
                    });
            }
            if(!from||!to){
                return  toast.add({
                    severity: 'warn', summary: 'Warn Message', detail: `請填寫 ${CodeService[from?"to":"from"]}`, group: 'tl', life: 3000
                });
            };
          
            let body ={
                machine:machine,
                from:moment(from).format("YYYY/MM/DD HH:mm"),
                to:moment(to).format("YYYY/MM/DD HH:mm")
            };
            try{
                const { data } = await service.value.postSearchRepairData(body);
                if(!data.data){
                    toast.add({severity: 'warn', summary: 'Warn Message', detail: "沒有結果", group: 'tl', life: 3000});
                    searchTable.value = [];
                    return;
                };
                searchTable.value = data.data;
            }catch(err){
                toast.add({severity: 'error', summary: 'Error Message', detail: err.message, group: 'tl', life: 3000});
                return;
            };
            
        };
        return {
            state, addRecord, handleDelete, memberData, machineList, tableState, searchState, searchTable,moldMemberData,handleSearch,sendData
        }
    }
}
</script>

<style lang="scss" scoped>
.container{
    color: #555555;
    margin:0 auto;
    width: 100%;
    height: 100%;
    margin-bottom: 2em;
}
.title{
    font-size:2em;
    text-align: start;
    color:#008B8B;
    font-weight: bold;
}
.input-page{
    min-height:80vh;
    margin-top: 2.5em;
    margin-left: 1em;
    background-color:#A9A9A9;
}
.text-label{
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 0.5em;
}
.select{
    text-align:right;
    padding-top:1em ;
}
#dropdown{
    width: 12em;
    margin-top:1em
}
.view-title{
     text-align: start;
     font-weight: bold;
     padding-left: 2em;
}
.data-point-input{
    height:40rem;
    padding:2px;
}
.view-table{
    margin: 0 auto;
    margin-top:3rem;
    width: 85%;
}
.button-area{
    padding-left:87%;
    padding-top:4em;   
}
.input-view{
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.form-v{
    margin-bottom:1em
}
</style>